In [1]:
import pandas as pd
import numpy as np
import warnings
from tqdm import tqdm
warnings.filterwarnings("ignore")

# 读取企业变更

In [2]:
qybg_4 = pd.read_excel('./四月份活跃度涉及表/F_BGQK企业变更.xlsx')
qybg_5 = pd.read_excel('./五月份活跃度涉及表/F_BGQK企业变更.xlsx')
qybg_6 = pd.read_excel('./六月份活跃度涉及表/F_BGQK企业变更.xlsx')

print(qybg_4.info(null_counts = True))
print(qybg_5.info(null_counts = True))
print(qybg_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162700 entries, 0 to 162699
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  162700 non-null  int64
 1   bgsx(C|10)  162700 non-null  int64
 2   cqrq(D)     162700 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152982 entries, 0 to 152981
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  152982 non-null  int64
 1   bgsx(C|10)  152982 non-null  int64
 2   cqrq(D)     152982 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157734 entries, 0 to 157733
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  157734 non-null  int64
 1   bgsx(C|10)  157734 non-null  int64
 2   cqrq(D)     157734 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.6+ MB
None

## 更改列名

In [3]:
print(qybg_4.info(null_counts = True))
print(qybg_5.info(null_counts = True))
print(qybg_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162700 entries, 0 to 162699
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  162700 non-null  int64
 1   bgsx(C|10)  162700 non-null  int64
 2   cqrq(D)     162700 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152982 entries, 0 to 152981
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  152982 non-null  int64
 1   bgsx(C|10)  152982 non-null  int64
 2   cqrq(D)     152982 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157734 entries, 0 to 157733
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  157734 non-null  int64
 1   bgsx(C|10)  157734 non-null  int64
 2   cqrq(D)     157734 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.6+ MB
None

## 合并

In [4]:
qybg = pd.concat([qybg_4, qybg_5, qybg_6])
print(qybg.info(null_counts = True))
qybg[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 473416 entries, 0 to 157733
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  473416 non-null  int64
 1   bgsx(C|10)  473416 non-null  int64
 2   cqrq(D)     473416 non-null  object
dtypes: int64(2), object(1)
memory usage: 14.4+ MB
None

           nbxh(C|50)  bgsx(C|10)     cqrq(D)
0  160000021416568559         930  2022-04-11
1  160000020835375502         120  2022-04-22

## 存储

In [5]:
path_qybg = './第二季度活跃度涉及表/企业变更.csv'
qybg.to_csv(path_qybg, index=False)

# 读取分支机构

In [6]:
fzjg_4 = pd.read_excel('./四月份活跃度涉及表/F_FZJG 分支机构表.xlsx')
fzjg_5 = pd.read_excel('./五月份活跃度涉及表/F_FZJG 分支机构表.xlsx')
# fzjg_6 = pd.read_excel('./六月份活跃度涉及表/F_FZJG 分支机构表.xlsx')

print(fzjg_4.info(null_counts = True))
print(fzjg_5.info(null_counts = True))
# print(fzjg_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       2896 non-null   int64
 1   qymc(C|300)      2896 non-null   object
 2   uniscid(C|50)    2896 non-null   object
 3   zch(C|50)        2896 non-null   int64
 4   fzrxm(C|500)     2896 non-null   object
 5   ENTNAME(C|301)   2886 non-null   object
 6   LEREP(C|151)     1512 non-null   object
 7   REGCAP(N|18|6)   1434 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     1413 non-null   object
 10  OPSCOPE(C|3001)  1425 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 249.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5142 entries, 0 to 5141
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       5142 non-null   int64
 1   qymc(C|300)      5142 non-null   object
 2   uniscid(C|50)    5142 non-null   object
 3   zch(C|50)        5141 non-null   float64
 4   fzrxm(C|500)     5142 non-null   object
 5   ENTNAME(C|301)   5132 non-null   object
 6   LEREP(C|151)     2667 non-null   object
 7   REGCAP(N|18|6)   2513 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     2459 non-null   object
 10  OPSCOPE(C|3001)  2493 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 442.0+ KB
None

## 更改列名

In [8]:
print(fzjg_4.info(null_counts = True))
print(fzjg_5.info(null_counts = True))
# print(fzjg_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       2896 non-null   int64
 1   qymc(C|300)      2896 non-null   object
 2   uniscid(C|50)    2896 non-null   object
 3   zch(C|50)        2896 non-null   int64
 4   fzrxm(C|500)     2896 non-null   object
 5   ENTNAME(C|301)   2886 non-null   object
 6   LEREP(C|151)     1512 non-null   object
 7   REGCAP(N|18|6)   1434 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     1413 non-null   object
 10  OPSCOPE(C|3001)  1425 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 249.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5142 entries, 0 to 5141
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       5142 non-null   int64
 1   qymc(C|300)      5142 non-null   object
 2   uniscid(C|50)    5142 non-null   object
 3   zch(C|50)        5141 non-null   float64
 4   fzrxm(C|500)     5142 non-null   object
 5   ENTNAME(C|301)   5132 non-null   object
 6   LEREP(C|151)     2667 non-null   object
 7   REGCAP(N|18|6)   2513 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     2459 non-null   object
 10  OPSCOPE(C|3001)  2493 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 442.0+ KB
None

## 合并

In [9]:
fzjg = pd.concat([fzjg_4, fzjg_5])
# fzjg = pd.concat([fzjg_1, fzjg_2, fzjg_3, fzjg_4, fzjg_5, fzjg_6])
print(fzjg.info(null_counts = True))
fzjg[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8038 entries, 0 to 5141
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       8038 non-null   int64
 1   qymc(C|300)      8038 non-null   object
 2   uniscid(C|50)    8038 non-null   object
 3   zch(C|50)        8037 non-null   float64
 4   fzrxm(C|500)     8038 non-null   object
 5   ENTNAME(C|301)   8018 non-null   object
 6   LEREP(C|151)     4179 non-null   object
 7   REGCAP(N|18|6)   3947 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     3872 non-null   object
 10  OPSCOPE(C|3001)  3918 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 753.6+ KB
None

,nbxh(C|50),qymc(C|300),uniscid(C|50),zch(C|50),fzrxm(C|500),ENTNAME(C|301),LEREP(C|151),REGCAP(N|18|6),ACCONAM(N|18|6),OPLOC(C|451),OPSCOPE(C|3001)
0,160000020462414055,北京润昌保险代理有限公司湖北分公司蕲春营业部,91421126MA49GDNK5T,4.211260e+14,张红梅,北京润昌保险代理有限公司,万金坤,5000.0,NaN,北京市平谷区迎宾街1号院26幢2层,保险代理业务。
1,160000020462421635,湖北鄂武建设工程有限公司长阳分公司,91420528MA49GDNYXM,4.205280e+14,丁开红,湖北鄂武建设工程有限公司,田志敏,10000.0,NaN,武汉市汉南区纱帽街汉南大道353号,房屋建筑工程、市政工程、机电设备安装工程、地基与基础工程、钢结构工程、土石方工程施工，室内外...

## 存储

In [10]:
path_fzjg = './第二季度活跃度涉及表/分支机构.csv'
fzjg.to_csv(path_fzjg, index=False)

# 读取企业关系人表

In [11]:
qygx_4 = pd.read_excel('./四月份活跃度涉及表/F_TZJYZRR企业关系人表.xlsx')
qygx_5 = pd.read_excel('./五月份活跃度涉及表/F_TZJYZRR企业关系人表.xlsx')
qygx_6 = pd.read_excel('./六月份活跃度涉及表/F_TZJYZRR企业关系人表.xlsx')

print(qygx_4.info(null_counts = True))
print(qygx_5.info(null_counts = True))
print(qygx_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    86 non-null     float64
 1   tze(N|18|6)      84 non-null     float64
 2   zrrlx(C|2)       613 non-null    int64
 3   person_id(C|45)  613 non-null    int64
 4   rjcze(N|18|6)    613 non-null    float64
 5   czsj(D)          613 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 28.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    95 non-null     float64
 1   tze(N|18|6)      117 non-null    float64
 2   zrrlx(C|2)       681 non-null    int64
 3   person_id(C|45)  681 non-null    int64
 4   rjcze(N|18|6)    681 non-null    float64
 5   czsj(D)          681 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 32.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    524 non-null    int64
 1   tze(N|18|6)      84 non-null     float64
 2   zrrlx(C|2)       524 non-null    int64
 3   person_id(C|45)  524 non-null    int64
 4   rjcze(N|18|6)    524 non-null    float64
 5   czsj(D)          524 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 24.7+ KB
None

## 更改列名

In [12]:
print(qygx_4.info(null_counts = True))
print(qygx_5.info(null_counts = True))
print(qygx_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    86 non-null     float64
 1   tze(N|18|6)      84 non-null     float64
 2   zrrlx(C|2)       613 non-null    int64
 3   person_id(C|45)  613 non-null    int64
 4   rjcze(N|18|6)    613 non-null    float64
 5   czsj(D)          613 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 28.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    95 non-null     float64
 1   tze(N|18|6)      117 non-null    float64
 2   zrrlx(C|2)       681 non-null    int64
 3   person_id(C|45)  681 non-null    int64
 4   rjcze(N|18|6)    681 non-null    float64
 5   czsj(D)          681 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 32.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    524 non-null    int64
 1   tze(N|18|6)      84 non-null     float64
 2   zrrlx(C|2)       524 non-null    int64
 3   person_id(C|45)  524 non-null    int64
 4   rjcze(N|18|6)    524 non-null    float64
 5   czsj(D)          524 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 24.7+ KB
None

## 合并

In [13]:
qygx = pd.concat([qygx_4, qygx_5, qygx_6])
print(qygx.info(null_counts = True))
qygx[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1818 entries, 0 to 523
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tznbxh(C|250)    705 non-null    float64
 1   tze(N|18|6)      285 non-null    float64
 2   zrrlx(C|2)       1818 non-null   int64
 3   person_id(C|45)  1818 non-null   int64
 4   rjcze(N|18|6)    1818 non-null   float64
 5   czsj(D)          1818 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 99.4+ KB
None

,tznbxh(C|250),tze(N|18|6),zrrlx(C|2),person_id(C|45),rjcze(N|18|6),czsj(D)
0,NaN,NaN,4,160000021464782794,50.0,2022-04-02
1,NaN,10.0,4,4420100002313980,10.0,2022-04-09

## 存储

In [14]:
path_qygx = './第二季度活跃度涉及表/企业关系人.csv'
qygx.to_csv(path_qygx, index=False)

# 读取迁移表

In [15]:
qyb_4 = pd.read_excel('./四月份活跃度涉及表/ODS_REG_PARENTENT 迁移表.xlsx')
qyb_5 = pd.read_excel('./五月份活跃度涉及表/ODS_REG_PARENTENT 迁移表.xlsx')
qyb_6 = pd.read_excel('./六月份活跃度涉及表/ODS_REG_PARENTENT 迁移表.xlsx')

print(qyb_4.info(null_counts = True))
print(qyb_5.info(null_counts = True))
print(qyb_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2826 entries, 0 to 2825
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  2826 non-null   int64
 1   MARPRID(C|75)             2826 non-null   int64
 2   ENTNAME(C|500)            2826 non-null   object
 3   LEREP(C|300)              1544 non-null   object
 4   REGCAP(N|18|6)            1428 non-null   float64
 5   ACCONAM(N|18|6)           11 non-null     float64
 6   CURRENCY(C|5)             127 non-null    float64
 7   OPLOC(C|500)              1485 non-null   object
 8   OPSCOPE(C|4000)           1422 non-null   object
 9   ENTTYPE(C|10)             2793 non-null   float64
 10  ENTTYPEITEM(C|10)         2681 non-null   float64
 11  OPFROM(P)                 2747 non-null   object
 12  OPTO(P)                   533 non-null    object
 13  REGNO(C|75)               478 non-null    object
 14  EMAIL(C|200)              10 non-null     object
 15  COUNTRY(C|5)              0 non-null      float64
 16  INSYSSIGN(N|10|0)         2826 non-null   int64
 17  BATCH(C|1)                2826 non-null   int64
 18  MODIDATE(P)               2826 non-null   object
 19  ESTDATE(P)                1477 non-null   object
 20  PROVCODE(C|75)            2826 non-null   int64
 21  REMARK(C|2000)            28 non-null     object
 22  REGORGNAME(C|200)         2826 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           2826 non-null   int64
 25  STUFFNAME(C|75)           2826 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             2811 non-null   object
 31  ACCOUNTTYPE(C|5)          638 non-null    float64
 32  DISTCODE(C|50)            405 non-null    float64
 33  BUSIADDRESS(C|500)        1151 non-null   object
dtypes: float64(13), int64(6), object(15)
memory usage: 750.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2548 entries, 0 to 2547
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  2548 non-null   int64
 1   MARPRID(C|75)             2548 non-null   int64
 2   ENTNAME(C|500)            2548 non-null   object
 3   LEREP(C|300)              1473 non-null   object
 4   REGCAP(N|18|6)            1351 non-null   float64
 5   ACCONAM(N|18|6)           4 non-null      float64
 6   CURRENCY(C|5)             82 non-null     float64
 7   OPLOC(C|500)              1420 non-null   object
 8   OPSCOPE(C|4000)           1401 non-null   object
 9   ENTTYPE(C|10)             2527 non-null   float64
 10  ENTTYPEITEM(C|10)         2408 non-null   float64
 11  OPFROM(P)                 2472 non-null   object
 12  OPTO(P)                   469 non-null    object
 13  REGNO(C|75)               523 non-null    object
 14  EMAIL(C|200)              11 non-null     object
 15  COUNTRY(C|5)              1 non-null      float64
 16  INSYSSIGN(N|10|0)         2548 non-null   int64
 17  BATCH(C|1)                2548 non-null   int64
 18  MODIDATE(P)               2548 non-null   object
 19  ESTDATE(P)                1425 non-null   object
 20  PROVCODE(C|75)            2548 non-null   int64
 21  REMARK(C|2000)            17 non-null     object
 22  REGORGNAME(C|200)         2548 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           2548 non-null   int64
 25  STUFFNAME(C|75)           2548 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             2543 non-null   object
 31  ACCOUNTTYPE(C|5)          613 non-null    float64
 32  DISTCODE(C|50)            304 non-null    float64
 33  BUSIADDRESS(C|500)        993 non-null    object
dtypes: float64(13), int64(6), object(15)
memory usage: 676.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3228 entries, 0 to 3227
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  3228 non-null   int64
 1   MARPRID(C|75)             3228 non-null   int64
 2   ENTNAME(C|500)            3228 non-null   object
 3   LEREP(C|300)              1768 non-null   object
 4   REGCAP(N|18|6)            1631 non-null   float64
 5   ACCONAM(N|18|6)           1 non-null      float64
 6   CURRENCY(C|5)             98 non-null     float64
 7   OPLOC(C|500)              1716 non-null   object
 8   OPSCOPE(C|4000)           1766 non-null   object
 9   ENTTYPE(C|10)             3217 non-null   float64
 10  ENTTYPEITEM(C|10)         3110 non-null   float64
 11  OPFROM(P)                 2962 non-null   object
 12  OPTO(P)                   565 non-null    object
 13  REGNO(C|75)               605 non-null    object
 14  EMAIL(C|200)              17 non-null     object
 15  COUNTRY(C|5)              0 non-null      float64
 16  INSYSSIGN(N|10|0)         3228 non-null   int64
 17  BATCH(C|1)                3228 non-null   int64
 18  MODIDATE(P)               3228 non-null   object
 19  ESTDATE(P)                1701 non-null   object
 20  PROVCODE(C|75)            3228 non-null   int64
 21  REMARK(C|2000)            18 non-null     object
 22  REGORGNAME(C|200)         3228 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           3228 non-null   int64
 25  STUFFNAME(C|75)           3228 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             3216 non-null   object
 31  ACCOUNTTYPE(C|5)          790 non-null    float64
 32  DISTCODE(C|50)            377 non-null    float64
 33  BUSIADDRESS(C|500)        1244 non-null   object
dtypes: float64(13), int64(6), object(15)
memory usage: 857.6+ KB
None

## 更改列名

In [16]:
print(qyb_4.info(null_counts = True))
print(qyb_5.info(null_counts = True))
print(qyb_6.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2826 entries, 0 to 2825
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  2826 non-null   int64
 1   MARPRID(C|75)             2826 non-null   int64
 2   ENTNAME(C|500)            2826 non-null   object
 3   LEREP(C|300)              1544 non-null   object
 4   REGCAP(N|18|6)            1428 non-null   float64
 5   ACCONAM(N|18|6)           11 non-null     float64
 6   CURRENCY(C|5)             127 non-null    float64
 7   OPLOC(C|500)              1485 non-null   object
 8   OPSCOPE(C|4000)           1422 non-null   object
 9   ENTTYPE(C|10)             2793 non-null   float64
 10  ENTTYPEITEM(C|10)         2681 non-null   float64
 11  OPFROM(P)                 2747 non-null   object
 12  OPTO(P)                   533 non-null    object
 13  REGNO(C|75)               478 non-null    object
 14  EMAIL(C|200)              10 non-null     object
 15  COUNTRY(C|5)              0 non-null      float64
 16  INSYSSIGN(N|10|0)         2826 non-null   int64
 17  BATCH(C|1)                2826 non-null   int64
 18  MODIDATE(P)               2826 non-null   object
 19  ESTDATE(P)                1477 non-null   object
 20  PROVCODE(C|75)            2826 non-null   int64
 21  REMARK(C|2000)            28 non-null     object
 22  REGORGNAME(C|200)         2826 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           2826 non-null   int64
 25  STUFFNAME(C|75)           2826 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             2811 non-null   object
 31  ACCOUNTTYPE(C|5)          638 non-null    float64
 32  DISTCODE(C|50)            405 non-null    float64
 33  BUSIADDRESS(C|500)        1151 non-null   object
dtypes: float64(13), int64(6), object(15)
memory usage: 750.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2548 entries, 0 to 2547
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  2548 non-null   int64
 1   MARPRID(C|75)             2548 non-null   int64
 2   ENTNAME(C|500)            2548 non-null   object
 3   LEREP(C|300)              1473 non-null   object
 4   REGCAP(N|18|6)            1351 non-null   float64
 5   ACCONAM(N|18|6)           4 non-null      float64
 6   CURRENCY(C|5)             82 non-null     float64
 7   OPLOC(C|500)              1420 non-null   object
 8   OPSCOPE(C|4000)           1401 non-null   object
 9   ENTTYPE(C|10)             2527 non-null   float64
 10  ENTTYPEITEM(C|10)         2408 non-null   float64
 11  OPFROM(P)                 2472 non-null   object
 12  OPTO(P)                   469 non-null    object
 13  REGNO(C|75)               523 non-null    object
 14  EMAIL(C|200)              11 non-null     object
 15  COUNTRY(C|5)              1 non-null      float64
 16  INSYSSIGN(N|10|0)         2548 non-null   int64
 17  BATCH(C|1)                2548 non-null   int64
 18  MODIDATE(P)               2548 non-null   object
 19  ESTDATE(P)                1425 non-null   object
 20  PROVCODE(C|75)            2548 non-null   int64
 21  REMARK(C|2000)            17 non-null     object
 22  REGORGNAME(C|200)         2548 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           2548 non-null   int64
 25  STUFFNAME(C|75)           2548 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             2543 non-null   object
 31  ACCOUNTTYPE(C|5)          613 non-null    float64
 32  DISTCODE(C|50)            304 non-null    float64
 33  BUSIADDRESS(C|500)        993 non-null    object
dtypes: float64(13), int64(6), object(15)
memory usage: 676.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3228 entries, 0 to 3227
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  3228 non-null   int64
 1   MARPRID(C|75)             3228 non-null   int64
 2   ENTNAME(C|500)            3228 non-null   object
 3   LEREP(C|300)              1768 non-null   object
 4   REGCAP(N|18|6)            1631 non-null   float64
 5   ACCONAM(N|18|6)           1 non-null      float64
 6   CURRENCY(C|5)             98 non-null     float64
 7   OPLOC(C|500)              1716 non-null   object
 8   OPSCOPE(C|4000)           1766 non-null   object
 9   ENTTYPE(C|10)             3217 non-null   float64
 10  ENTTYPEITEM(C|10)         3110 non-null   float64
 11  OPFROM(P)                 2962 non-null   object
 12  OPTO(P)                   565 non-null    object
 13  REGNO(C|75)               605 non-null    object
 14  EMAIL(C|200)              17 non-null     object
 15  COUNTRY(C|5)              0 non-null      float64
 16  INSYSSIGN(N|10|0)         3228 non-null   int64
 17  BATCH(C|1)                3228 non-null   int64
 18  MODIDATE(P)               3228 non-null   object
 19  ESTDATE(P)                1701 non-null   object
 20  PROVCODE(C|75)            3228 non-null   int64
 21  REMARK(C|2000)            18 non-null     object
 22  REGORGNAME(C|200)         3228 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           3228 non-null   int64
 25  STUFFNAME(C|75)           3228 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             3216 non-null   object
 31  ACCOUNTTYPE(C|5)          790 non-null    float64
 32  DISTCODE(C|50)            377 non-null    float64
 33  BUSIADDRESS(C|500)        1244 non-null   object
dtypes: float64(13), int64(6), object(15)
memory usage: 857.6+ KB
None

## 合并

In [17]:
qyb = pd.concat([qyb_4, qyb_5, qyb_6])
print(qyb.info(null_counts = True))
qyb[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8602 entries, 0 to 3227
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  8602 non-null   int64
 1   MARPRID(C|75)             8602 non-null   int64
 2   ENTNAME(C|500)            8602 non-null   object
 3   LEREP(C|300)              4785 non-null   object
 4   REGCAP(N|18|6)            4410 non-null   float64
 5   ACCONAM(N|18|6)           16 non-null     float64
 6   CURRENCY(C|5)             307 non-null    float64
 7   OPLOC(C|500)              4621 non-null   object
 8   OPSCOPE(C|4000)           4589 non-null   object
 9   ENTTYPE(C|10)             8537 non-null   float64
 10  ENTTYPEITEM(C|10)         8199 non-null   float64
 11  OPFROM(P)                 8181 non-null   object
 12  OPTO(P)                   1567 non-null   object
 13  REGNO(C|75)               1606 non-null   object
 14  EMAIL(C|200)              38 non-null     object
 15  COUNTRY(C|5)              1 non-null      float64
 16  INSYSSIGN(N|10|0)         8602 non-null   int64
 17  BATCH(C|1)                8602 non-null   int64
 18  MODIDATE(P)               8602 non-null   object
 19  ESTDATE(P)                4603 non-null   object
 20  PROVCODE(C|75)            8602 non-null   int64
 21  REMARK(C|2000)            63 non-null     object
 22  REGORGNAME(C|200)         8602 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           8602 non-null   int64
 25  STUFFNAME(C|75)           8602 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             8570 non-null   object
 31  ACCOUNTTYPE(C|5)          2041 non-null   float64
 32  DISTCODE(C|50)            1086 non-null   float64
 33  BUSIADDRESS(C|500)        3388 non-null   object
dtypes: float64(13), int64(6), object(15)
memory usage: 2.3+ MB
None

,ID(C|75),MARPRID(C|75),ENTNAME(C|500),LEREP(C|300),REGCAP(N|18|6),ACCONAM(N|18|6),CURRENCY(C|5),OPLOC(C|500),OPSCOPE(C|4000),ENTTYPE(C|10),...,STUFFTYPE(C|10),STUFFNAME(C|75),SURPERFROM(P),SURPERTO(P),FORENTAUTSIGNNAME(C|300),FORENLIAFOR(C|5),UNISCID(C|75),ACCOUNTTYPE(C|5),DISTCODE(C|50),BUSIADDRESS(C|500)
0,160000021461771286,24250000012460114,新十建设集团有限公司,王建东,50059.0,NaN,NaN,武汉市新洲区邾城街齐安大道352号（邾城街道办事处院内）,建筑工程施工总承包壹级，市政公用工程施工总承包贰级，钢结构工程专业承包贰级，地基基础工程专业...,1100.0,...,8,隶属企业,NaN,NaN,NaN,NaN,91420117178364864Y,1.0,420117.0,武汉市新洲区邾城街齐安大道352号（邾城街道办事处院内）
1,160000021461828012,160000012277492502,中国石油天然气股份有限公司,戴厚良,18302097.0,NaN,NaN,北京市东城区安德路16号,石油天然气勘查、开采（有效期以许可证为准）；煤层气、页岩气开采、勘察（仅限外埠经营，经营项目...,1200.0,...,8,隶属企业,NaN,NaN,NaN,NaN,91110000710925462X,NaN,NaN,NaN

## 存储

In [18]:
path_qyb = './第二季度活跃度涉及表/迁移.csv'
qyb.to_csv(path_qyb, index=False)