<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#读取主体登记信息" data-toc-modified-id="读取主体登记信息-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>读取主体登记信息</a></span><ul class="toc-item"><li><span><a href="#读取" data-toc-modified-id="读取-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>读取</a></span><ul class="toc-item"><li><span><a href="#读取主体登记" data-toc-modified-id="读取主体登记-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>读取主体登记</a></span></li><li><span><a href="#查看当月成立的企业数量" data-toc-modified-id="查看当月成立的企业数量-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>查看当月成立的企业数量</a></span></li><li><span><a href="#提取本月注吊销及迁出数据" data-toc-modified-id="提取本月注吊销及迁出数据-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>提取本月注吊销及迁出数据</a></span></li><li><span><a href="#删除注吊销及迁出数据" data-toc-modified-id="删除注吊销及迁出数据-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>删除注吊销及迁出数据</a></span></li></ul></li><li><span><a href="#提取需要特征" data-toc-modified-id="提取需要特征-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>提取需要特征</a></span><ul class="toc-item"><li><span><a href="#提取主体登记表" data-toc-modified-id="提取主体登记表-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>提取主体登记表</a></span></li><li><span><a href="#提取注吊销表" data-toc-modified-id="提取注吊销表-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>提取注吊销表</a></span></li></ul></li><li><span><a href="#更改经营状态" data-toc-modified-id="更改经营状态-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>更改经营状态</a></span></li><li><span><a href="#合并两表" data-toc-modified-id="合并两表-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>合并两表</a></span></li><li><span><a href="#更改列名" data-toc-modified-id="更改列名-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>更改列名</a></span></li><li><span><a href="#缺失值填补" data-toc-modified-id="缺失值填补-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>缺失值填补</a></span></li><li><span><a href="#类型转换" data-toc-modified-id="类型转换-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>类型转换</a></span></li><li><span><a href="#行业代码只提取第一个" data-toc-modified-id="行业代码只提取第一个-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>行业代码只提取第一个</a></span></li><li><span><a href="#设置nbxh为索引" data-toc-modified-id="设置nbxh为索引-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>设置nbxh为索引</a></span></li></ul></li><li><span><a href="#分类" data-toc-modified-id="分类-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>分类</a></span><ul class="toc-item"><li><span><a href="#划分企业年限" data-toc-modified-id="划分企业年限-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>划分企业年限</a></span></li><li><span><a href="#地区分类" data-toc-modified-id="地区分类-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>地区分类</a></span></li><li><span><a href="#三次产业分类" data-toc-modified-id="三次产业分类-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>三次产业分类</a></span></li><li><span><a href="#规模分类" data-toc-modified-id="规模分类-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>规模分类</a></span></li><li><span><a href="#是否为外商投资" data-toc-modified-id="是否为外商投资-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>是否为外商投资</a></span></li></ul></li><li><span><a href="#添加特征" data-toc-modified-id="添加特征-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>添加特征</a></span><ul class="toc-item"><li><span><a href="#添加特征X1_2、X3、X4" data-toc-modified-id="添加特征X1_2、X3、X4-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>添加特征X1_2、X3、X4</a></span></li><li><span><a href="#将固定企业类型的公积金赋值为0" data-toc-modified-id="将固定企业类型的公积金赋值为0-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>将固定企业类型的公积金赋值为0</a></span></li><li><span><a href="#添加特征X5、X6、X12、X13、X15（来自企业变更表）" data-toc-modified-id="添加特征X5、X6、X12、X13、X15（来自企业变更表）-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>添加特征X5、X6、X12、X13、X15（来自企业变更表）</a></span><ul class="toc-item"><li><span><a href="#读取企业变更表" data-toc-modified-id="读取企业变更表-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>读取企业变更表</a></span></li><li><span><a href="#提取特征X5" data-toc-modified-id="提取特征X5-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>提取特征X5</a></span><ul class="toc-item"><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.2.1"><span class="toc-item-num">3.3.2.1&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.2.2"><span class="toc-item-num">3.3.2.2&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X6" data-toc-modified-id="提取特征X6-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>提取特征X6</a></span><ul class="toc-item"><li><span><a href="#统计每个nbxh的每个变更事项出现次数" data-toc-modified-id="统计每个nbxh的每个变更事项出现次数-3.3.3.1"><span class="toc-item-num">3.3.3.1&nbsp;&nbsp;</span>统计每个nbxh的每个变更事项出现次数</a></span></li><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.3.2"><span class="toc-item-num">3.3.3.2&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.3.3"><span class="toc-item-num">3.3.3.3&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#X12、X13（保留变更事项与投资资本相关列）" data-toc-modified-id="X12、X13（保留变更事项与投资资本相关列）-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>X12、X13（保留变更事项与投资资本相关列）</a></span></li><li><span><a href="#提取特征X12" data-toc-modified-id="提取特征X12-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span>提取特征X12</a></span><ul class="toc-item"><li><span><a href="#统计每个nbxh的每个变更事项出现次数" data-toc-modified-id="统计每个nbxh的每个变更事项出现次数-3.3.5.1"><span class="toc-item-num">3.3.5.1&nbsp;&nbsp;</span>统计每个nbxh的每个变更事项出现次数</a></span></li><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.5.2"><span class="toc-item-num">3.3.5.2&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.5.3"><span class="toc-item-num">3.3.5.3&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X13" data-toc-modified-id="提取特征X13-3.3.6"><span class="toc-item-num">3.3.6&nbsp;&nbsp;</span>提取特征X13</a></span><ul class="toc-item"><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.6.1"><span class="toc-item-num">3.3.6.1&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.6.2"><span class="toc-item-num">3.3.6.2&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X15（本月没有）" data-toc-modified-id="提取特征X15（本月没有）-3.3.7"><span class="toc-item-num">3.3.7&nbsp;&nbsp;</span>提取特征X15（本月没有）</a></span><ul class="toc-item"><li><span><a href="#将X15列赋值为0" data-toc-modified-id="将X15列赋值为0-3.3.7.1"><span class="toc-item-num">3.3.7.1&nbsp;&nbsp;</span>将X15列赋值为0</a></span></li></ul></li></ul></li><li><span><a href="#添加特征X7(分支机构开设数量，来自分支机构表)" data-toc-modified-id="添加特征X7(分支机构开设数量，来自分支机构表)-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>添加特征X7(分支机构开设数量，来自分支机构表)</a></span><ul class="toc-item"><li><span><a href="#读取文件" data-toc-modified-id="读取文件-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>读取文件</a></span></li><li><span><a href="#fzjg_nums为series,将其变为dataframes" data-toc-modified-id="fzjg_nums为series,将其变为dataframes-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>fzjg_nums为series,将其变为dataframes</a></span></li><li><span><a href="#找到对应的nbxh" data-toc-modified-id="找到对应的nbxh-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>找到对应的nbxh</a></span></li><li><span><a href="#删除空值" data-toc-modified-id="删除空值-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>删除空值</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.4.5"><span class="toc-item-num">3.4.5&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#添加特征X10、-X11（来自企业关系人表）" data-toc-modified-id="添加特征X10、-X11（来自企业关系人表）-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>添加特征X10、 X11（来自企业关系人表）</a></span><ul class="toc-item"><li><span><a href="#提取特征X10" data-toc-modified-id="提取特征X10-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>提取特征X10</a></span><ul class="toc-item"><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.5.1.1"><span class="toc-item-num">3.5.1.1&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.5.1.2"><span class="toc-item-num">3.5.1.2&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X11" data-toc-modified-id="提取特征X11-3.5.2"><span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>提取特征X11</a></span><ul class="toc-item"><li><span><a href="#sums为series,将其变为dataframes" data-toc-modified-id="sums为series,将其变为dataframes-3.5.2.1"><span class="toc-item-num">3.5.2.1&nbsp;&nbsp;</span>sums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.5.2.2"><span class="toc-item-num">3.5.2.2&nbsp;&nbsp;</span>join</a></span></li></ul></li></ul></li><li><span><a href="#添加特征X14（迁移申请次数，来自迁移表）" data-toc-modified-id="添加特征X14（迁移申请次数，来自迁移表）-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>添加特征X14（迁移申请次数，来自迁移表）</a></span><ul class="toc-item"><li><span><a href="#读取并查看" data-toc-modified-id="读取并查看-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>读取并查看</a></span></li><li><span><a href="#sums为series,将其变为dataframes" data-toc-modified-id="sums为series,将其变为dataframes-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>sums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#添加特征X8、X9、X16、X17、X18" data-toc-modified-id="添加特征X8、X9、X16、X17、X18-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>添加特征X8、X9、X16、X17、X18</a></span></li></ul></li><li><span><a href="#调整顺序" data-toc-modified-id="调整顺序-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>调整顺序</a></span></li><li><span><a href="#去除重复值" data-toc-modified-id="去除重复值-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>去除重复值</a></span><ul class="toc-item"><li><span><a href="#重设索引" data-toc-modified-id="重设索引-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>重设索引</a></span></li><li><span><a href="#统计重复" data-toc-modified-id="统计重复-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>统计重复</a></span></li><li><span><a href="#删除重复" data-toc-modified-id="删除重复-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>删除重复</a></span></li></ul></li><li><span><a href="#保存" data-toc-modified-id="保存-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>保存</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import warnings
from tqdm import tqdm
import gc
warnings.filterwarnings("ignore")

# 读取主体登记信息

## 读取

### 读取主体登记

In [2]:
file = pd.read_csv('./exportsql.20220629201307.utf-8.csv')
print(file.info(null_counts = True))
file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3018638 entries, 0 to 3018637
Data columns (total 15 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   #nbxh(C|50)    3018638 non-null  int64
 1   qymc(C|300)    3018626 non-null  object
 2   uniscid(C|50)  2488461 non-null  object
 3   zch(C|50)      3018182 non-null  object
 4   fzrxm(C|500)   3017921 non-null  object
 5   jjhklb(C|2)    3018638 non-null  int64
 6   qylx(C|6)      3018638 non-null  int64
 7   hydm(C|8)      3018638 non-null  object
 8   djjg(C|20)     3018638 non-null  int64
 9   clrq(D)        3018638 non-null  object
 10  hzrq(D)        3018637 non-null  object
 11  zczb(N|21|6)   3018634 non-null  float64
 12  jyzt(C|4)      2097098 non-null  float64
 13  tslx(C|2)      3018638 non-null  int64
 14  jyfw(C|4000)   3017236 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 345.5+ MB
None

,#nbxh(C|50),qymc(C|300),uniscid(C|50),zch(C|50),fzrxm(C|500),jjhklb(C|2),qylx(C|6),hydm(C|8),djjg(C|20),clrq(D),hzrq(D),zczb(N|21|6),jyzt(C|4),tslx(C|2),jyfw(C|4000)
0,160000020664661198,湖北碧元科技有限公司,91421087MA49K6DJ6L,421087000090179,石峰,3,1130,I6490,421087999,2020-09-09,2022-04-21,100.0,1.0,6,许可项目：互联网信息服务；食品销售；食品互联网销售（依法须经批准的项目，经相关部门批准后方可...
1,160000020664665571,湖北葛仙楼餐饮管理有限公司,91420700MA49K6DM0U,420710000033988,阮亮亮,3,1151,H6210,420710999,2020-09-09,2020-09-16,110.0,1.0,6,餐饮管理；承包食堂；餐饮服务（依法须经批准的项目，经相关部门批准后方可开展经营活动）。

In [3]:
file['year-month'] = file['hzrq(D)'].str[:7]
print(file['year-month'].value_counts())

2022-03    88951
2022-06    81759
2022-05    78930
2021-12    74866
2022-04    72501
           ...
1983-02        1
2027-05        1
2037-04        1
1984-02        1
1980-03        1
Name: year-month, Length: 525, dtype: int64

In [4]:
file['new'] = file['clrq(D)'].str[:7]
print(file['new'].value_counts())

2013-12    54342
2022-03    52575
2021-12    44455
2021-11    34433
2022-04    34259
           ...
1965-06        1
1954-04        1
1953-07        1
1963-06        1
1967-05        1
Name: new, Length: 770, dtype: int64

### 查看当月成立的企业数量

In [5]:
quarter = ['2022-04', '2022-05', '2022-06']
new_company = pd.DataFrame()
for month in quarter:
    new_company = new_company.append(file[file['new'] == month])

new_company.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102680 entries, 40532 to 2143372
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   #nbxh(C|50)    102680 non-null  int64
 1   qymc(C|300)    102680 non-null  object
 2   uniscid(C|50)  102679 non-null  object
 3   zch(C|50)      102678 non-null  object
 4   fzrxm(C|500)   102680 non-null  object
 5   jjhklb(C|2)    102680 non-null  int64
 6   qylx(C|6)      102680 non-null  int64
 7   hydm(C|8)      102680 non-null  object
 8   djjg(C|20)     102680 non-null  int64
 9   clrq(D)        102680 non-null  object
 10  hzrq(D)        102680 non-null  object
 11  zczb(N|21|6)   102680 non-null  float64
 12  jyzt(C|4)      101657 non-null  float64
 13  tslx(C|2)      102680 non-null  int64
 14  jyfw(C|4000)   102680 non-null  object
 15  year-month     102680 non-null  object
 16  new            102680 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 14.1+ MB

### 提取本月注吊销及迁出数据

In [6]:
# 注销（07）、吊销（11）、迁入（09）、迁出（13）
revoke = pd.DataFrame()
for month in quarter:
    revoke = revoke.append(file[((file['year-month'] == month) & (file['tslx(C|2)'] == 7)) | ((file['year-month'] == month) & (file['tslx(C|2)'] == 11)) | ((file['year-month'] == month) & (file['tslx(C|2)'] == 13))])
print(revoke.info(null_counts = True))
print('注销：', len(revoke[revoke['tslx(C|2)'] == 7]))
print('吊销：', len(revoke[revoke['tslx(C|2)'] == 11]))
print('迁出：', len(revoke[revoke['tslx(C|2)'] == 13]))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46300 entries, 287 to 3018574
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   #nbxh(C|50)    46300 non-null  int64
 1   qymc(C|300)    46300 non-null  object
 2   uniscid(C|50)  45923 non-null  object
 3   zch(C|50)      46300 non-null  object
 4   fzrxm(C|500)   46300 non-null  object
 5   jjhklb(C|2)    46300 non-null  int64
 6   qylx(C|6)      46300 non-null  int64
 7   hydm(C|8)      46300 non-null  object
 8   djjg(C|20)     46300 non-null  int64
 9   clrq(D)        46300 non-null  object
 10  hzrq(D)        46300 non-null  object
 11  zczb(N|21|6)   46300 non-null  float64
 12  jyzt(C|4)      46257 non-null  float64
 13  tslx(C|2)      46300 non-null  int64
 14  jyfw(C|4000)   46299 non-null  object
 15  year-month     46300 non-null  object
 16  new            46300 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 6.4+ MB
None
注销： 41112
吊销： 5060
迁出： 128

### 删除注吊销及迁出数据

In [7]:
# 删除所有注吊销数据
file.drop(file[file['tslx(C|2)'] == 7].index, inplace=True)
file.drop(file[file['tslx(C|2)'] == 11].index, inplace=True)
file.drop(file[file['tslx(C|2)'] == 13].index, inplace=True)
file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1780723 entries, 0 to 3018636
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   #nbxh(C|50)    1780723 non-null  int64
 1   qymc(C|300)    1780720 non-null  object
 2   uniscid(C|50)  1777752 non-null  object
 3   zch(C|50)      1780694 non-null  object
 4   fzrxm(C|500)   1780666 non-null  object
 5   jjhklb(C|2)    1780723 non-null  int64
 6   qylx(C|6)      1780723 non-null  int64
 7   hydm(C|8)      1780723 non-null  object
 8   djjg(C|20)     1780723 non-null  int64
 9   clrq(D)        1780723 non-null  object
 10  hzrq(D)        1780722 non-null  object
 11  zczb(N|21|6)   1780720 non-null  float64
 12  jyzt(C|4)      1355279 non-null  float64
 13  tslx(C|2)      1780723 non-null  int64
 14  jyfw(C|4000)   1780682 non-null  object
 15  year-month     1780722 non-null  object
 16  new            1780723 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 244.5+ MB

## 提取需要特征

提取
> `jjhklb`经济户口类别：用于经济户口**分类**     
    `nbxh`内部序号：索引    
    `hydm`行业代码：用于行业**分类**    
    `djjg`登记机关：用于地区**分类**    
    `zczb`注册资本：用于规模**分类**    
    `jyzt`经营状态：0， 1    
    `clrq`成立日期：用于存续时间**分类**   
    `qylx(C|6)` 用于决定哪些企业公积金为0

### 提取主体登记表

In [8]:
new_file = file[['jjhklb(C|2)', '#nbxh(C|50)', 'hydm(C|8)', 'djjg(C|20)', 'zczb(N|21|6)', 'jyzt(C|4)', 'clrq(D)', 'qylx(C|6)', 'tslx(C|2)', 'new']]
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1780723 entries, 0 to 3018636
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   jjhklb(C|2)   1780723 non-null  int64
 1   #nbxh(C|50)   1780723 non-null  int64
 2   hydm(C|8)     1780723 non-null  object
 3   djjg(C|20)    1780723 non-null  int64
 4   zczb(N|21|6)  1780720 non-null  float64
 5   jyzt(C|4)     1355279 non-null  float64
 6   clrq(D)       1780723 non-null  object
 7   qylx(C|6)     1780723 non-null  int64
 8   tslx(C|2)     1780723 non-null  int64
 9   new           1780723 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 149.4+ MB

### 提取注吊销表

In [9]:
new_revoke = revoke[['jjhklb(C|2)', '#nbxh(C|50)', 'hydm(C|8)', 'djjg(C|20)', 'zczb(N|21|6)', 'jyzt(C|4)', 'clrq(D)', 'qylx(C|6)', 'tslx(C|2)', 'new']]
new_revoke.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46300 entries, 287 to 3018574
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   jjhklb(C|2)   46300 non-null  int64
 1   #nbxh(C|50)   46300 non-null  int64
 2   hydm(C|8)     46300 non-null  object
 3   djjg(C|20)    46300 non-null  int64
 4   zczb(N|21|6)  46300 non-null  float64
 5   jyzt(C|4)     46257 non-null  float64
 6   clrq(D)       46300 non-null  object
 7   qylx(C|6)     46300 non-null  int64
 8   tslx(C|2)     46300 non-null  int64
 9   new           46300 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 3.9+ MB

## 更改经营状态

In [10]:
new_file[:2]

,jjhklb(C|2),#nbxh(C|50),hydm(C|8),djjg(C|20),zczb(N|21|6),jyzt(C|4),clrq(D),qylx(C|6),tslx(C|2),new
0,3,160000020664661198,I6490,421087999,100.0,1.0,2020-09-09,1130,6,2020-09
1,3,160000020664665571,H6210,420710999,110.0,1.0,2020-09-09,1151,6,2020-09

In [11]:
# 主体登记表的经营状态填补为1
new_file['jyzt(C|4)'].fillna(value=1.0, inplace=True)

# 注吊销表的经营状态为0
new_revoke['jyzt(C|4)'] = 0.0

# jyzt大于1的全部调整为1
new_file['jyzt(C|4)'] = new_file['jyzt(C|4)'].astype(np.float)
new_file.loc[new_file['jyzt(C|4)'] > 0, 'jyzt(C|4)'] = 1
new_file.loc[new_file['jyzt(C|4)'] == 0, 'jyzt(C|4)'] = 0
new_file['jyzt(C|4)'] = new_file['jyzt(C|4)'].astype(np.int64)
print(new_file['jyzt(C|4)'].value_counts())
print(new_revoke['jyzt(C|4)'].value_counts())

1    1780723
Name: jyzt(C|4), dtype: int64
0.0    46300
Name: jyzt(C|4), dtype: int64

In [12]:
new_file[:2]

,jjhklb(C|2),#nbxh(C|50),hydm(C|8),djjg(C|20),zczb(N|21|6),jyzt(C|4),clrq(D),qylx(C|6),tslx(C|2),new
0,3,160000020664661198,I6490,421087999,100.0,1,2020-09-09,1130,6,2020-09
1,3,160000020664665571,H6210,420710999,110.0,1,2020-09-09,1151,6,2020-09

In [13]:
new_revoke[:2]

,jjhklb(C|2),#nbxh(C|50),hydm(C|8),djjg(C|20),zczb(N|21|6),jyzt(C|4),clrq(D),qylx(C|6),tslx(C|2),new
287,3,142000000022876134,F5261,420222999,200.0,0.0,2014-10-21,1151,7,2014-10
461,3,142000000024104254,F5219,421125008,10.0,0.0,2014-10-28,4540,7,2014-10

## 合并两表

In [14]:
new_file = pd.concat([new_file, new_revoke])
print(new_file.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 0 to 3018574
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   jjhklb(C|2)   1827023 non-null  int64
 1   #nbxh(C|50)   1827023 non-null  int64
 2   hydm(C|8)     1827023 non-null  object
 3   djjg(C|20)    1827023 non-null  int64
 4   zczb(N|21|6)  1827020 non-null  float64
 5   jyzt(C|4)     1827023 non-null  float64
 6   clrq(D)       1827023 non-null  object
 7   qylx(C|6)     1827023 non-null  int64
 8   tslx(C|2)     1827023 non-null  int64
 9   new           1827023 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 153.3+ MB
None

## 更改列名

In [15]:
new_file.rename(
    columns={'jjhklb(C|2)': 'jjhklb', '#nbxh(C|50)': 'nbxh', 'hydm(C|8)':'hydm', 'djjg(C|20)':'djjg', 
             'zczb(N|21|6)':'zczb', 'jyzt(C|4)':'jyzt', 'clrq(D)':'clrq', 'qylx(C|6)':'qylx', 'tslx(C|2)':'tslx'}, 
    inplace=True)
print(new_file.info(null_counts = True))
new_file[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 0 to 3018574
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1827023 non-null  int64
 1   nbxh    1827023 non-null  int64
 2   hydm    1827023 non-null  object
 3   djjg    1827023 non-null  int64
 4   zczb    1827020 non-null  float64
 5   jyzt    1827023 non-null  float64
 6   clrq    1827023 non-null  object
 7   qylx    1827023 non-null  int64
 8   tslx    1827023 non-null  int64
 9   new     1827023 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 153.3+ MB
None

,jjhklb,nbxh,hydm,djjg,zczb,jyzt,clrq,qylx,tslx,new
0,3,160000020664661198,I6490,421087999,100.0,1.0,2020-09-09,1130,6,2020-09
1,3,160000020664665571,H6210,420710999,110.0,1.0,2020-09-09,1151,6,2020-09

## 缺失值填补

`jjhklb`填补为众数

In [16]:
new_file['jjhklb'].fillna(new_file['jjhklb'].mode()[0], inplace=True)

`hydm`填补为众数

In [17]:
new_file['hydm'].fillna(new_file['hydm'].mode()[0], inplace=True)

`djjg`填补为临近值

In [18]:
# 用前值填补
new_file['djjg'].fillna(method = 'ffill', inplace = True)

`zczb`填补为众数

In [19]:
new_file['zczb'].fillna(new_file['zczb'].mode()[0], inplace=True)

`jyzt`填补为***0***

In [20]:
new_file['jyzt'].fillna(value = '0', inplace=True)

`clrq`填补为众数

In [21]:
new_file['clrq'].fillna(new_file['clrq'].mode()[0], inplace=True)

In [22]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 0 to 3018574
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1827023 non-null  int64
 1   nbxh    1827023 non-null  int64
 2   hydm    1827023 non-null  object
 3   djjg    1827023 non-null  int64
 4   zczb    1827023 non-null  float64
 5   jyzt    1827023 non-null  float64
 6   clrq    1827023 non-null  object
 7   qylx    1827023 non-null  int64
 8   tslx    1827023 non-null  int64
 9   new     1827023 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 153.3+ MB

## 类型转换

登记机关转换为int后再转为str

In [23]:
new_file['djjg'] = new_file['djjg'].astype(np.int64)

In [24]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 0 to 3018574
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1827023 non-null  int64
 1   nbxh    1827023 non-null  int64
 2   hydm    1827023 non-null  object
 3   djjg    1827023 non-null  int64
 4   zczb    1827023 non-null  float64
 5   jyzt    1827023 non-null  float64
 6   clrq    1827023 non-null  object
 7   qylx    1827023 non-null  int64
 8   tslx    1827023 non-null  int64
 9   new     1827023 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 153.3+ MB

## 行业代码只提取第一个

In [25]:
new_file['hydm'] = new_file['hydm'].str[0]
new_file[:2]

,jjhklb,nbxh,hydm,djjg,zczb,jyzt,clrq,qylx,tslx,new
0,3,160000020664661198,I,421087999,100.0,1.0,2020-09-09,1130,6,2020-09
1,3,160000020664665571,H,420710999,110.0,1.0,2020-09-09,1151,6,2020-09

In [26]:
new_file['nbxh'] = new_file['nbxh'].astype(np.int64)

## 设置nbxh为索引

In [27]:
new_file.set_index('nbxh', inplace=True)
new_file[:2]

,jjhklb,hydm,djjg,zczb,jyzt,clrq,qylx,tslx,new
nbxh,,,,,,,,,
160000020664661198,3,I,421087999,100.0,1.0,2020-09-09,1130,6,2020-09
160000020664665571,3,H,420710999,110.0,1.0,2020-09-09,1151,6,2020-09

# 分类

In [28]:
new_file.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 9 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1827023 non-null  int64
 1   hydm    1827023 non-null  object
 2   djjg    1827023 non-null  int64
 3   zczb    1827023 non-null  float64
 4   jyzt    1827023 non-null  float64
 5   clrq    1827023 non-null  object
 6   qylx    1827023 non-null  int64
 7   tslx    1827023 non-null  int64
 8   new     1827023 non-null  object
dtypes: float64(2), int64(4), object(3)
memory usage: 139.4+ MB

## 划分企业年限

总会有些特殊情况

In [29]:
new_file['time'] = 2022 - new_file['clrq'].str[:4].astype(np.int64)

```python
new_file['time_scale'] = None
new_file.loc[new_file['time'] <= 1, 'time_scale'] = '1'
new_file.loc[((new_file['time'] > 1) & (new_file['time'] <= 2)), 'time_scale'] = '2'
new_file.loc[((new_file['time'] > 2) & (new_file['time'] <= 3)), 'time_scale'] = '3'
new_file.loc[((new_file['time'] > 3) & (new_file['time'] <= 4)), 'time_scale'] = '4'
new_file.loc[((new_file['time'] > 4) & (new_file['time'] <= 5)), 'time_scale'] = '5'
new_file.loc[((new_file['time'] > 5) & (new_file['time'] <= 6)), 'time_scale'] = '6'
new_file.loc[((new_file['time'] > 6) & (new_file['time'] <= 7)), 'time_scale'] = '7'
new_file.loc[((new_file['time'] > 7) & (new_file['time'] <= 8)), 'time_scale'] = '8'
new_file.loc[((new_file['time'] > 8) & (new_file['time'] <= 9)), 'time_scale'] = '9'
new_file.loc[((new_file['time'] > 9) & (new_file['time'] <= 10)), 'time_scale'] = '10'
new_file.loc[new_file['time'] > 10, 'time_scale'] = '11'
```
采用新的划分
> 1年以内/1-5年/5年以上/10年以上

In [30]:
new_file['time_scale'] = None
new_file.loc[new_file['time'] <= 1, 'time_scale'] = '1'
new_file.loc[((new_file['time'] > 1) & (new_file['time'] <= 5)), 'time_scale'] = '2'
new_file.loc[((new_file['time'] > 5) & (new_file['time'] <= 10)), 'time_scale'] = '3'
new_file.loc[new_file['time'] > 10, 'time_scale'] = '4'

In [31]:
new_file.drop(['clrq', 'time'], axis=1, inplace=True)

In [32]:
new_file[:2]

,jjhklb,hydm,djjg,zczb,jyzt,qylx,tslx,new,time_scale
nbxh,,,,,,,,,
160000020664661198,3,I,421087999,100.0,1.0,1130,6,2020-09,2
160000020664665571,3,H,420710999,110.0,1.0,1151,6,2020-09,2

## 地区分类

In [33]:
new_file['city'] = None
new_file['djjg'] = new_file['djjg'].astype(str)
new_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   jjhklb      int64
 1   hydm        object
 2   djjg        object
 3   zczb        float64
 4   jyzt        float64
 5   qylx        int64
 6   tslx        int64
 7   new         object
 8   time_scale  object
 9   city        object
dtypes: float64(2), int64(3), object(5)
memory usage: 153.3+ MB

In [34]:
new_file.loc[(new_file['djjg'].str[:4] == '4201'), 'city'] = '武汉市'
new_file.loc[(new_file['djjg'].str[:4] == '4202'), 'city'] = '黄石市'
new_file.loc[(new_file['djjg'].str[:4] == '4203'), 'city'] = '十堰市'
new_file.loc[(new_file['djjg'].str[:4] == '4205'), 'city'] = '宜昌市'
new_file.loc[(new_file['djjg'].str[:4] == '4206'), 'city'] = '襄阳市'
new_file.loc[(new_file['djjg'].str[:4] == '4207'), 'city'] = '鄂州市'
new_file.loc[(new_file['djjg'].str[:4] == '4208'), 'city'] = '荆门市'
new_file.loc[(new_file['djjg'].str[:4] == '4209'), 'city'] = '孝感市'
new_file.loc[(new_file['djjg'].str[:4] == '4210'), 'city'] = '荆州市'
new_file.loc[(new_file['djjg'].str[:4] == '4211'), 'city'] = '黄冈市'

new_file.loc[(new_file['djjg'].str[:4] == '4212'), 'city'] = '咸宁市'
new_file.loc[(new_file['djjg'].str[:4] == '4223'), 'city'] = '咸宁市'

new_file.loc[(new_file['djjg'].str[:4] == '4213'), 'city'] = '随州市'
new_file.loc[(new_file['djjg'].str[:4] == '4228'), 'city'] = '恩施州'
new_file.loc[(new_file['djjg'].str[:6] == '429004'), 'city'] = '仙桃市'
new_file.loc[(new_file['djjg'].str[:6] == '429005'), 'city'] = '潜江市'
new_file.loc[(new_file['djjg'].str[:6] == '429006'), 'city'] = '天门市'
new_file.loc[(new_file['djjg'].str[:6] == '429021'), 'city'] = '神农架林区'

new_file.loc[(new_file['djjg'] == '429900'), 'city'] = '武汉市'

In [35]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   djjg        1827023 non-null  object
 3   zczb        1827023 non-null  float64
 4   jyzt        1827023 non-null  float64
 5   qylx        1827023 non-null  int64
 6   tslx        1827023 non-null  int64
 7   new         1827023 non-null  object
 8   time_scale  1827023 non-null  object
 9   city        1827023 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 153.3+ MB

In [36]:
new_file.drop(['djjg'], axis=1, inplace=True)

In [37]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 139.4+ MB

## 三次产业分类

In [38]:
new_file['three'] = None
new_file.loc[new_file['hydm'] == 'A', 'three'] = '1'
second = ['B', 'C', 'D', 'E']
for i in second:
    new_file.loc[new_file['hydm'] == i, 'three'] = '2'
third = ['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'Z']
for i in third:
    new_file.loc[new_file['hydm'] == i, 'three'] = '3'

In [39]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 153.3+ MB

## 规模分类

In [40]:
new_file['scale'] = None
new_file.loc[new_file['zczb'] <= 100, 'scale'] = '1'
new_file.loc[((new_file['zczb'] > 100) & (new_file['zczb'] <= 1_000)), 'scale'] = '2'
new_file.loc[((new_file['zczb'] > 1_000) & (new_file['zczb'] <= 10_000)), 'scale'] = '3'
new_file.loc[((new_file['zczb'] > 10_000) & (new_file['zczb'] <= 20_000)), 'scale'] = '4'
new_file.loc[new_file['zczb'] > 20_000, 'scale'] = '5'

In [41]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
dtypes: float64(2), int64(3), object(6)
memory usage: 167.3+ MB

In [42]:
new_file[:2]

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,scale
nbxh,,,,,,,,,,,
160000020664661198,3,I,100.0,1.0,1130,6,2020-09,2,荆州市,3,1
160000020664665571,3,H,110.0,1.0,1151,6,2020-09,2,鄂州市,3,2

In [43]:
# new_file.drop(['zczb'], axis=1, inplace=True)
print(new_file.info(null_counts = True))
new_file[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
dtypes: float64(2), int64(3), object(6)
memory usage: 167.3+ MB
None

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,scale
nbxh,,,,,,,,,,,
160000020664661198,3,I,100.0,1.0,1130,6,2020-09,2,荆州市,3,1
160000020664665571,3,H,110.0,1.0,1151,6,2020-09,2,鄂州市,3,2

## 是否为外商投资

In [44]:
foreign_investment = [1122, 1123, 1211, 2123, 2211, 5000, 5320, 1121, 5310, 1120, 
                      2221, 5180, 5260, 5820, 5840, 1221, 2120, 5400, 5800, 2121, 
                      2122, 5250]
new_file['foreign'] = None
for i in foreign_investment:
    new_file.loc[new_file['qylx'] == i, 'foreign'] = 1
new_file['foreign'].fillna(value=0, inplace=True)
print(new_file['foreign'].value_counts())
print(new_file.info(null_counts = True))
new_file[:2]

0    1822960
1       4063
Name: foreign, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 12 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 181.2+ MB
None

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,scale,foreign
nbxh,,,,,,,,,,,,
160000020664661198,3,I,100.0,1.0,1130,6,2020-09,2,荆州市,3,1,0
160000020664665571,3,H,110.0,1.0,1151,6,2020-09,2,鄂州市,3,2,0

# 添加特征

## 添加特征X1_2、X3、X4

这三个特征赋值为1

In [45]:
new_file['X1_2'] = 1
new_file['X3'] = 1
new_file['X4'] = 1

In [46]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 15 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
dtypes: float64(2), int64(7), object(6)
memory usage: 223.0+ MB

## 将固定企业类型的公积金赋值为0

让企业类型为1151 4540 2151的公积金那里给0

In [47]:
new_file['X4'].value_counts()

1    1827023
Name: X4, dtype: int64

In [48]:
for i in tqdm([1151, 4540, 2125]):
    new_file.loc[new_file[(new_file['qylx'] == i)].index, 'X4'] = 0
new_file['X4'].value_counts()

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  4.63it/s]

1    1089698
0     737325
Name: X4, dtype: int64

In [49]:
new_file['X4'].value_counts()[1] / (new_file['X4'].value_counts()[1] + new_file['X4'].value_counts()[0])

0.5964336519025759

In [50]:
new_file[:2]

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,scale,foreign,X1_2,X3,X4
nbxh,,,,,,,,,,,,,,,
160000020664661198,3,I,100.0,1.0,1130,6,2020-09,2,荆州市,3,1,0,1,1,1
160000020664665571,3,H,110.0,1.0,1151,6,2020-09,2,鄂州市,3,2,0,1,1,0

## 添加特征X5、X6、X12、X13、X15（来自企业变更表）

- X5：企业变更备案次数
- X6：企业变更备案类别数 
- X12：投资资本类变更类型数 
- X13：投资资本类变更次数
- X15：分支机构注吊销数量

### 读取企业变更表

In [51]:
qybg_file = pd.read_csv('./第二季度活跃度涉及表/企业变更.csv')
print(qybg_file.info(null_counts = True))
qybg_file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473416 entries, 0 to 473415
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  473416 non-null  int64
 1   bgsx(C|10)  473416 non-null  int64
 2   cqrq(D)     473416 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.8+ MB
None

           nbxh(C|50)  bgsx(C|10)     cqrq(D)
0  160000021416568559         930  2022-04-11
1  160000020835375502         120  2022-04-22

### 提取特征X5

In [52]:
nums = qybg_file['nbxh(C|50)'].value_counts()
nums

160000020206916831    30
420000000008858270    29
160000020431956539    25
24250000012459150     25
142000007015403746    24
                      ..
2422300000043095       1
160000020714839105     1
160000021160123145     1
142000006962406035     1
160000020195452028     1
Name: nbxh(C|50), Length: 138927, dtype: int64

#### nums为series,将其变为dataframes

In [53]:
dict_nums = {'nbxh':nums.index, 'X5':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X5
0  160000020206916831  30
1  420000000008858270  29
                    X5
nbxh
160000020206916831  30
420000000008858270  29
<class 'pandas.core.frame.DataFrame'>
Int64Index: 138927 entries, 160000020206916831 to 160000020195452028
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   X5      138927 non-null  int64
dtypes: int64(1)
memory usage: 2.1 MB
None

#### join

In [54]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 16 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          90175 non-null    float64
dtypes: float64(3), int64(7), object(6)
memory usage: 301.5+ MB

In [55]:
# 缺失值填补
new_file['X5'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 16 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
dtypes: float64(3), int64(7), object(6)
memory usage: 301.5+ MB

### 提取特征X6

In [56]:
qybg_file.drop(['cqrq(D)'], axis=1, inplace=True)
qybg_grouped = qybg_file.groupby('nbxh(C|50)')
qybg_grouped.size()

nbxh(C|50)
2420200000000226      3
2420200000000227      1
2420200000000416      2
2420200000001172      3
2420200000001639      3
                     ..
442010000019652153    2
442010000019652202    3
442010000019652289    1
442010000019652470    2
442010000019652505    4
Length: 138927, dtype: int64

#### 统计每个nbxh的每个变更事项出现次数

In [57]:
cate = qybg_grouped['bgsx(C|10)'].value_counts()
list_cate = list(cate.index)
print(len(list_cate))
res_cate = [list(ele) for ele in list_cate]
res_cate[:5]

455696

[[2420200000000226, 112],
 [2420200000000226, 113],
 [2420200000000226, 939],
 [2420200000000227, 129],
 [2420200000000416, 113]]

In [58]:
indexs = [i[0] for i in res_cate] 
print(indexs[:5])
df_indexs = pd.DataFrame(indexs)
df_indexs[:5]

[2420200000000226, 2420200000000226, 2420200000000226, 2420200000000227, 2420200000000416]

                  0
0  2420200000000226
1  2420200000000226
2  2420200000000226
3  2420200000000227
4  2420200000000416

In [59]:
nums = df_indexs[0].value_counts()

####  nums为series,将其变为dataframes

In [60]:
dict_nums = {'nbxh':nums.index, 'X6':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
df_nums.info(null_counts = True)

                 nbxh  X6
0  160000021576073799  22
1  160000021576846707  20
                    X6
nbxh
160000021576073799  22
160000021576846707  20
<class 'pandas.core.frame.DataFrame'>
Int64Index: 138927 entries, 160000021576073799 to 160000021348725203
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   X6      138927 non-null  int64
dtypes: int64(1)
memory usage: 2.1 MB

#### join

In [61]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 17 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          90175 non-null    float64
dtypes: float64(4), int64(7), object(6)
memory usage: 315.4+ MB

In [62]:
# 缺失值填补
new_file['X6'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 17 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 315.4+ MB

### X12、X13（保留变更事项与投资资本相关列）

  也就是保存bgsx(C|10) ==120, 170, 700, 134, 118, 155, 117, 127, 136, 154, 914, 131, 923的列

In [63]:
bgsx_M = [120, 170, 700, 134, 118, 155, 117, 127, 136, 154, 914, 131, 923]
for i in bgsx_M:
    if i == 120:
        qybg_file_M = qybg_file[qybg_file['bgsx(C|10)'] == i]
    else:
        qybg_file_M = pd.concat([qybg_file_M, qybg_file[qybg_file['bgsx(C|10)'] == i]])
        
print(qybg_file_M[:5])
qybg_file_M.info(null_counts = True)

            nbxh(C|50)  bgsx(C|10)
1   160000020835375502         120
9   142000005818305375         120
18  160000021001631363         120
35  420000000009129390         120
41  160000005565778818         120
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45922 entries, 1 to 454962
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nbxh(C|50)  45922 non-null  int64
 1   bgsx(C|10)  45922 non-null  int64
dtypes: int64(2)
memory usage: 1.1 MB

### 提取特征X12

In [64]:
qybg_grouped = qybg_file_M.groupby('nbxh(C|50)')
qybg_grouped.size()

nbxh(C|50)
2420200000063069      1
2420200000124998      1
2420300000001949      1
2420300000007467      1
2420300000034121      1
                     ..
442010000019329563    1
442010000019329910    2
442010000019329968    1
442010000019652470    1
442010000019652505    1
Length: 32190, dtype: int64

#### 统计每个nbxh的每个变更事项出现次数

In [65]:
cate = qybg_grouped['bgsx(C|10)'].value_counts()
# 层次化索引cate.index变列表
list_cate = list(cate.index)
print(len(list_cate))
res_cate = [list(ele) for ele in list_cate]
res_cate[:5]

43347

[[2420200000063069, 131],
 [2420200000124998, 131],
 [2420300000001949, 131],
 [2420300000007467, 131],
 [2420300000034121, 117]]

现在获取nbxh的重复次数，就是该nbxh变更事项的类别数

In [66]:
indexs = [i[0] for i in res_cate] 
print(indexs[:5])
df_indexs = pd.DataFrame(indexs)
df_indexs[:5]

[2420200000063069, 2420200000124998, 2420300000001949, 2420300000007467, 2420300000034121]

                  0
0  2420200000063069
1  2420200000124998
2  2420300000001949
3  2420300000007467
4  2420300000034121

In [67]:
nums = df_indexs[0].value_counts()
nums[:5]

24250000012763663     5
160000005621699893    5
24250000013034958     5
24250000012620222     5
160000020172953176    4
Name: 0, dtype: int64

#### nums为series,将其变为dataframes

In [68]:
dict_nums = {'nbxh':nums.index, 'X12':nums.values}
df_nums = pd.DataFrame(dict_nums)
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
df_nums.info(null_counts = True)

                    X12
nbxh
24250000012763663     5
160000005621699893    5
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32190 entries, 24250000012763663 to 442010000019652505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X12     32190 non-null  int64
dtypes: int64(1)
memory usage: 503.0 KB

####  join

In [69]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 18 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X12         30236 non-null    float64
dtypes: float64(5), int64(7), object(6)
memory usage: 329.3+ MB

In [70]:
# 缺失值填补
new_file['X12'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 18 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X12         1827023 non-null  float64
dtypes: float64(5), int64(7), object(6)
memory usage: 329.3+ MB

### 提取特征X13

In [71]:
nums = qybg_file_M['nbxh(C|50)'].value_counts()
nums[:5]

420000000009154211    8
420000000008712869    8
420000000009170665    8
160000005621699893    8
160000020198293551    7
Name: nbxh(C|50), dtype: int64

#### nums为series,将其变为dataframes

In [72]:
dict_nums = {'nbxh':nums.index, 'X13':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X13
0  420000000009154211    8
1  420000000008712869    8
                    X13
nbxh
420000000009154211    8
420000000008712869    8
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32190 entries, 420000000009154211 to 420000000009198838
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X13     32190 non-null  int64
dtypes: int64(1)
memory usage: 503.0 KB
None

#### join

In [73]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 19 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X12         1827023 non-null  float64
 18  X13         30236 non-null    float64
dtypes: float64(6), int64(7), object(6)
memory usage: 343.3+ MB

In [74]:
# 缺失值填补
new_file['X13'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 19 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X12         1827023 non-null  float64
 18  X13         1827023 non-null  float64
dtypes: float64(6), int64(7), object(6)
memory usage: 343.3+ MB

### 提取特征X15（本月没有）

`企业变更表`中`bgsx(C|10)`变更事项`165`为撤销分支机构，可提取`X15`

In [75]:
qybg_file[qybg_file['bgsx(C|10)'] == 165]

Empty DataFrame
Columns: [nbxh(C|50), bgsx(C|10)]
Index: []

#### 将X15列赋值为0

In [76]:
new_file['X15'] = 0
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 160000020664661198 to 442010000000612152
Data columns (total 20 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  object
 8   city        1827023 non-null  object
 9   three       1827023 non-null  object
 10  scale       1827023 non-null  object
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X12         1827023 non-null  float64
 18  X13         1827023 non-null  float64
 19  X15         1827023 non-null  int64
dtypes: float64(6), int64(8), object(6)
memory usage: 357.2+ MB

## 添加特征X7(分支机构开设数量，来自分支机构表)

### 读取文件

In [77]:
fzjg_file = pd.read_csv('./第二季度活跃度涉及表/分支机构.csv')
print(fzjg_file.info(null_counts = True))
fzjg_file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8038 entries, 0 to 8037
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       8038 non-null   int64
 1   qymc(C|300)      8038 non-null   object
 2   uniscid(C|50)    8038 non-null   object
 3   zch(C|50)        8037 non-null   float64
 4   fzrxm(C|500)     8038 non-null   object
 5   ENTNAME(C|301)   8018 non-null   object
 6   LEREP(C|151)     4179 non-null   object
 7   REGCAP(N|18|6)   3947 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     3872 non-null   object
 10  OPSCOPE(C|3001)  3918 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 690.9+ KB
None

,nbxh(C|50),qymc(C|300),uniscid(C|50),zch(C|50),fzrxm(C|500),ENTNAME(C|301),LEREP(C|151),REGCAP(N|18|6),ACCONAM(N|18|6),OPLOC(C|451),OPSCOPE(C|3001)
0,160000020462414055,北京润昌保险代理有限公司湖北分公司蕲春营业部,91421126MA49GDNK5T,4.211260e+14,张红梅,北京润昌保险代理有限公司,万金坤,5000.0,NaN,北京市平谷区迎宾街1号院26幢2层,保险代理业务。
1,160000020462421635,湖北鄂武建设工程有限公司长阳分公司,91420528MA49GDNYXM,4.205280e+14,丁开红,湖北鄂武建设工程有限公司,田志敏,10000.0,NaN,武汉市汉南区纱帽街汉南大道353号,房屋建筑工程、市政工程、机电设备安装工程、地基与基础工程、钢结构工程、土石方工程施工，室内外...

In [78]:
nums_fzjg = fzjg_file['ENTNAME(C|301)'].value_counts()
nums_fzjg[:5]

湖北益丰大药房连锁有限公司        94
中国联合网络通信有限公司         77
湖北吴都药业连锁有限公司         58
襄阳瑞之林药业连锁有限公司        51
武汉吉家正念房地产经纪服务有限公司    48
Name: ENTNAME(C|301), dtype: int64

### fzjg_nums为series,将其变为dataframes

In [79]:
dict_nums_fzjg = {'ENTNAME':nums_fzjg.index, 'X7':nums_fzjg.values}
df_nums_fzjg = pd.DataFrame(dict_nums_fzjg)
print(df_nums_fzjg[:5])
df_nums_fzjg.info(null_counts = True)

             ENTNAME  X7
0      湖北益丰大药房连锁有限公司  94
1       中国联合网络通信有限公司  77
2       湖北吴都药业连锁有限公司  58
3      襄阳瑞之林药业连锁有限公司  51
4  武汉吉家正念房地产经纪服务有限公司  48
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3471 entries, 0 to 3470
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ENTNAME  3471 non-null   object
 1   X7       3471 non-null   int64
dtypes: int64(1), object(1)
memory usage: 54.4+ KB

### 找到对应的nbxh

In [80]:
print(df_nums_fzjg.info(null_counts = True))

df_nums_fzjg.set_index('ENTNAME', inplace=True)# 以企业名称为索引进行join操作
temp_name = file[['#nbxh(C|50)', 'qymc(C|300)']]# 提取内部序号和企业名称
temp_name.set_index('qymc(C|300)', inplace=True)# 企业名称为索引
df_nums_fzjg = df_nums_fzjg.join(temp_name)
print(df_nums_fzjg.info(null_counts = True))

df_nums_fzjg = df_nums_fzjg.reset_index()# 重设索引，且不替换掉企业名称
print(df_nums_fzjg.info(null_counts = True))

df_nums_fzjg.drop_duplicates(subset=['index'], keep='first', inplace=True)# 去除重复，join带来的重复，需要思考
print(df_nums_fzjg.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3471 entries, 0 to 3470
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ENTNAME  3471 non-null   object
 1   X7       3471 non-null   int64
dtypes: int64(1), object(1)
memory usage: 54.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 3485 entries, 91330304MA285UDC8A to 龙腾国信工程咨询有限公司
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   X7           3485 non-null   int64
 1   #nbxh(C|50)  2196 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 81.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        3485 non-null   object
 1   X7           3485 non-null   int64
 2   #nbxh(C|50)  2196 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 81.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3471 entries, 0 to 3484
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        3471 non-null   object
 1   X7           3471 non-null   int64
 2   #nbxh(C|50)  2182 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 108.5+ KB
None

### 删除空值

In [81]:
df_nums_fzjg.dropna(inplace=True)
df_nums_fzjg['#nbxh(C|50)'] = df_nums_fzjg['#nbxh(C|50)'].astype(np.int64)
df_nums_fzjg.set_index('#nbxh(C|50)', inplace=True)
df_nums_fzjg.drop(['index'], axis=1, inplace=True)
print(df_nums_fzjg.info(null_counts = True))
df_nums_fzjg[:5]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2182 entries, 442010000000549824 to 24250000012915656
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X7      2182 non-null   int64
dtypes: int64(1)
memory usage: 34.1 KB
None

                    X7
#nbxh(C|50)
442010000000549824   2
24250000012580616    2
24250000012681928    1
142000000081993328   2
142000007019985168   1

### join

In [82]:
new_file = new_file.join(df_nums_fzjg)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 21 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          530 non-null      float64
dtypes: float64(7), int64(8), object(6)
memory usage: 306.7+ MB

In [83]:
# 缺失值填补
new_file['X7'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 21 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
dtypes: float64(7), int64(8), object(6)
memory usage: 306.7+ MB

## 添加特征X10、 X11（来自企业关系人表）

- X10 投资次数     
- X11 投资总额

In [84]:
invest = pd.read_csv('./第二季度活跃度涉及表/企业关系人.csv')
invest.rename(columns = {'tznbxh(C|250)':'nbxh', 'tze(N|18|6)':'tze'}, inplace=True)
invest.info(null_counts = True)
invest[:10]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818 entries, 0 to 1817
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh             705 non-null    float64
 1   tze              285 non-null    float64
 2   zrrlx(C|2)       1818 non-null   int64
 3   person_id(C|45)  1818 non-null   int64
 4   rjcze(N|18|6)    1818 non-null   float64
 5   czsj(D)          1818 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 85.3+ KB

   nbxh    tze  zrrlx(C|2)     person_id(C|45)  rjcze(N|18|6)     czsj(D)
0   NaN    NaN           4  160000021464782794        50.0000  2022-04-02
1   NaN  10.00           4    4420100002313980        10.0000  2022-04-09
2   NaN    NaN           4  160000021503755692       418.5972  2022-04-20
3   NaN    NaN           4  160000021504411628       499.0000  2022-04-21
4   NaN  30.15           4    4420100002829092        30.1500  2022-04-10
5   NaN    NaN           4  160000021505538814       100.0000  2022-04-19
6   NaN    NaN           4  160000021483565123       368.0000  2022-04-11
7   NaN    NaN           4  160000021486657357      8181.5891  2022-04-08
8   NaN    NaN           4  160000021512747392       485.0000  2022-04-02
9   NaN    NaN           4  160000021481001196       450.0000  2022-04-06

In [85]:
# 不显示科学计数法
pd.set_option('display.float_format', lambda x: '%.3f' % x)
invest = invest.dropna()
invest['nbxh'] = invest['nbxh'].astype(np.int64)
invest

,nbxh,tze,zrrlx(C|2),person_id(C|45),rjcze(N|18|6),czsj(D)
410,160000021166295872,8.000,4,4420100002742478,8.000,2022-04-15
499,2422800000972160,15.000,4,4420100002541739,15.000,2022-04-01
650,420000000008897664,99.000,4,4420100003078093,99.000,2022-05-27
790,420000000008897664,1.000,4,4420100003078441,1.000,2022-05-27
885,420000000008897664,1.000,4,4420100003078346,1.000,2022-05-27
...,...,...,...,...,...,...
1797,4420100002874152,3.400,4,4420100002874152,3.400,2022-06-10
1798,4420100002931464,90.000,4,4420100002931464,90.000,2022-06-01
1800,4420100002736601,2.400,4,4420100002736601,2.400,2022-06-17
1803,4420100002316152,10.000,4,4420100002316152,10.000,2022-06-03
1811,160000020660639776,165.000,4,160000020660639776,165.000,2022-06-01

### 提取特征X10

In [86]:
nums = invest['nbxh'].value_counts()
nums

420000000008897664    4
420000000008992512    2
160000020660639776    2
160000004623389568    2
160000003565088864    2
                     ..
4420100002863721      1
4420100002539613      1
4420100002997623      1
160000007730437088    1
4420100002316152      1
Name: nbxh, Length: 80, dtype: int64

#### nums为series,将其变为dataframes

In [87]:
dict_nums = {'nbxh':nums.index, 'X10':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X10
0  420000000008897664    4
1  420000000008992512    2
                    X10
nbxh
420000000008897664    4
420000000008992512    2
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 420000000008897664 to 4420100002316152
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X10     80 non-null     int64
dtypes: int64(1)
memory usage: 1.2 KB
None

#### join

In [88]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 22 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1 non-null        float64
dtypes: float64(8), int64(8), object(6)
memory usage: 320.6+ MB

In [89]:
# 缺失值填补
new_file['X10'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 22 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1827036 non-null  float64
dtypes: float64(8), int64(8), object(6)
memory usage: 320.6+ MB

### 提取特征X11

In [90]:
sums = invest.groupby('nbxh')['tze'].agg('sum')
sums

nbxh
2422800000972160      15.000
2422800000972938      30.000
4420100002178112     100.000
4420100002225622      50.000
4420100002225623     450.000
                       ...
160000020780243424   300.000
160000020984842400    50.000
160000021166295872     8.000
420000000008897664   102.000
420000000008992512   600.000
Name: tze, Length: 80, dtype: float64

#### sums为series,将其变为dataframes

In [91]:
dict_sums = {'nbxh':sums.index, 'X11':sums.values}
df_sums = pd.DataFrame(dict_sums)
print(df_sums[:2])
df_sums.set_index('nbxh', inplace=True)
print(df_sums[:2])
print(df_sums.info(null_counts = True))

               nbxh    X11
0  2422800000972160 15.000
1  2422800000972938 30.000
                    X11
nbxh
2422800000972160 15.000
2422800000972938 30.000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 2422800000972160 to 420000000008992512
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X11     80 non-null     float64
dtypes: float64(1)
memory usage: 1.2 KB
None

#### join

In [92]:
new_file = new_file.join(df_sums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 23 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1827036 non-null  float64
 22  X11         1 non-null        float64
dtypes: float64(9), int64(8), object(6)
memory usage: 334.5+ MB

In [93]:
# 缺失值填补
new_file['X11'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 23 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1827036 non-null  float64
 22  X11         1827036 non-null  float64
dtypes: float64(9), int64(8), object(6)
memory usage: 334.5+ MB

## 添加特征X14（迁移申请次数，来自迁移表）

### 读取并查看

In [94]:
qycs_file = pd.read_csv('./第二季度活跃度涉及表/迁移.csv')
print(qycs_file.info(null_counts = True))
qycs_file[:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8602 entries, 0 to 8601
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  8602 non-null   int64
 1   MARPRID(C|75)             8602 non-null   int64
 2   ENTNAME(C|500)            8602 non-null   object
 3   LEREP(C|300)              4785 non-null   object
 4   REGCAP(N|18|6)            4410 non-null   float64
 5   ACCONAM(N|18|6)           16 non-null     float64
 6   CURRENCY(C|5)             307 non-null    float64
 7   OPLOC(C|500)              4621 non-null   object
 8   OPSCOPE(C|4000)           4589 non-null   object
 9   ENTTYPE(C|10)             8537 non-null   float64
 10  ENTTYPEITEM(C|10)         8199 non-null   float64
 11  OPFROM(P)                 8181 non-null   object
 12  OPTO(P)                   1567 non-null   object
 13  REGNO(C|75)               1606 non-null   object
 14  EMAIL(C|200)              38 non-null     object
 15  COUNTRY(C|5)              1 non-null      float64
 16  INSYSSIGN(N|10|0)         8602 non-null   int64
 17  BATCH(C|1)                8602 non-null   int64
 18  MODIDATE(P)               8602 non-null   object
 19  ESTDATE(P)                4603 non-null   object
 20  PROVCODE(C|75)            8602 non-null   int64
 21  REMARK(C|2000)            63 non-null     object
 22  REGORGNAME(C|200)         8602 non-null   object
 23  FORENTNAME(C|300)         0 non-null      float64
 24  STUFFTYPE(C|10)           8602 non-null   int64
 25  STUFFNAME(C|75)           8602 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  0 non-null      float64
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             8570 non-null   object
 31  ACCOUNTTYPE(C|5)          2041 non-null   float64
 32  DISTCODE(C|50)            1086 non-null   float64
 33  BUSIADDRESS(C|500)        3388 non-null   object
dtypes: float64(13), int64(6), object(15)
memory usage: 2.2+ MB
None

,ID(C|75),MARPRID(C|75),ENTNAME(C|500),LEREP(C|300),REGCAP(N|18|6),ACCONAM(N|18|6),CURRENCY(C|5),OPLOC(C|500),OPSCOPE(C|4000),ENTTYPE(C|10),...,STUFFTYPE(C|10),STUFFNAME(C|75),SURPERFROM(P),SURPERTO(P),FORENTAUTSIGNNAME(C|300),FORENLIAFOR(C|5),UNISCID(C|75),ACCOUNTTYPE(C|5),DISTCODE(C|50),BUSIADDRESS(C|500)
0,160000021461771286,24250000012460114,新十建设集团有限公司,王建东,50059.000,NaN,NaN,武汉市新洲区邾城街齐安大道352号（邾城街道办事处院内）,建筑工程施工总承包壹级，市政公用工程施工总承包贰级，钢结构工程专业承包贰级，地基基础工程专业...,1100.000,...,8,隶属企业,NaN,NaN,NaN,NaN,91420117178364864Y,1.000,420117.000,武汉市新洲区邾城街齐安大道352号（邾城街道办事处院内）
1,160000021461828012,160000012277492502,中国石油天然气股份有限公司,戴厚良,18302097.000,NaN,NaN,北京市东城区安德路16号,石油天然气勘查、开采（有效期以许可证为准）；煤层气、页岩气开采、勘察（仅限外埠经营，经营项目...,1200.000,...,8,隶属企业,NaN,NaN,NaN,NaN,91110000710925462X,NaN,NaN,NaN
2,160000021461931043,160000021461930976,湖北鑫民建设集团有限公司,李晖,30100.000,NaN,NaN,宜昌市点军区江南大道99号四楼401室,建筑工程、公路工程、铁路工程、港口与航道工程、水利水电工程、电力工程、矿山工程、冶金工程、石...,1100.000,...,8,隶属企业,NaN,NaN,NaN,NaN,91420102682323965F,1.000,NaN,宜昌市点军区江南大道99号四楼401室

`MARPRID(C|75)`为 主体标识，查看在file中是否存在相应的内部序号

In [95]:
nbxh_list =   file['#nbxh(C|50)'].values
temp_sum = 0
for i in tqdm(qycs_file['MARPRID(C|75)']):
    if i in nbxh_list:
        temp_sum = temp_sum + 1
temp_sum

100%|█████████████████████████████████████████████████████████████████████████████| 8602/8602 [00:17<00:00, 493.43it/s]

8273

可以看出绝大多数企业还是可以在主体登记表中找到的

In [96]:
nums = qycs_file['MARPRID(C|75)'].value_counts()
nums

24250000012853421     3
24250000012834578     3
24250000012813144     3
24250000012545876     3
160000021013776418    2
                     ..
142000000039639987    1
24250000012348845     1
24250000012350178     1
24250000012347366     1
160000021672886396    1
Name: MARPRID(C|75), Length: 8559, dtype: int64

### sums为series,将其变为dataframes

In [97]:
dict_nums = {'nbxh':nums.index, 'X14':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                nbxh  X14
0  24250000012853421    3
1  24250000012834578    3
                   X14
nbxh
24250000012853421    3
24250000012834578    3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8559 entries, 24250000012853421 to 160000021672886396
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X14     8559 non-null   int64
dtypes: int64(1)
memory usage: 133.7 KB
None

### join

In [98]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 24 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1827036 non-null  float64
 22  X11         1827036 non-null  float64
 23  X14         8414 non-null     float64
dtypes: float64(10), int64(8), object(6)
memory usage: 348.5+ MB

In [99]:
# 缺失值填补
new_file['X14'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 24 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1827036 non-null  float64
 22  X11         1827036 non-null  float64
 23  X14         1827036 non-null  float64
dtypes: float64(10), int64(8), object(6)
memory usage: 348.5+ MB

## 添加特征X8、X9、X16、X17、X18

这些特征无来源，都赋值为0

In [100]:
new_file['X8'] = 0
new_file['X9'] = 0
new_file['X16'] = 0
new_file['X17'] = 0
new_file['X18'] = 0
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 29 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X12         1827036 non-null  float64
 18  X13         1827036 non-null  float64
 19  X15         1827036 non-null  int64
 20  X7          1827036 non-null  float64
 21  X10         1827036 non-null  float64
 22  X11         1827036 non-null  float64
 23  X14         1827036 non-null  float64
 24  X8          1827036 non-null  int64
 25  X9          1827036 non-null  int64
 26  X16         1827036 non-null  int64
 27  X17         1827036 non-null  int64
 28  X18         1827036 non-null  int64
dtypes: float64(10), int64(13), object(6)
memory usage: 418.2+ MB

# 调整顺序

In [101]:
col_num = new_file.shape[1]
new_file.insert(col_num-12, 'X7', new_file.pop('X7'))
new_file.insert(col_num-11, 'X8', new_file.pop('X8'))
new_file.insert(col_num-10, 'X9', new_file.pop('X9'))
new_file.insert(col_num-9, 'X10', new_file.pop('X10'))
new_file.insert(col_num-8, 'X11', new_file.pop('X11'))
new_file.insert(col_num-7, 'X12', new_file.pop('X12'))
new_file.insert(col_num-6, 'X13', new_file.pop('X13'))
new_file.insert(col_num-5, 'X14', new_file.pop('X14'))
new_file.insert(col_num-4, 'X15', new_file.pop('X15'))
new_file.insert(col_num-3, 'X16', new_file.pop('X16'))
new_file.insert(col_num-2, 'X17', new_file.pop('X17'))
new_file.insert(col_num-1, 'X18', new_file.pop('X18'))
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827036 entries, 2420200000050231 to 442010000019652554
Data columns (total 29 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827036 non-null  int64
 1   hydm        1827036 non-null  object
 2   zczb        1827036 non-null  float64
 3   jyzt        1827036 non-null  float64
 4   qylx        1827036 non-null  int64
 5   tslx        1827036 non-null  int64
 6   new         1827036 non-null  object
 7   time_scale  1827036 non-null  object
 8   city        1827036 non-null  object
 9   three       1827036 non-null  object
 10  scale       1827036 non-null  object
 11  foreign     1827036 non-null  int64
 12  X1_2        1827036 non-null  int64
 13  X3          1827036 non-null  int64
 14  X4          1827036 non-null  int64
 15  X5          1827036 non-null  float64
 16  X6          1827036 non-null  float64
 17  X7          1827036 non-null  float64
 18  X8          1827036 non-null  int64
 19  X9          1827036 non-null  int64
 20  X10         1827036 non-null  float64
 21  X11         1827036 non-null  float64
 22  X12         1827036 non-null  float64
 23  X13         1827036 non-null  float64
 24  X14         1827036 non-null  float64
 25  X15         1827036 non-null  int64
 26  X16         1827036 non-null  int64
 27  X17         1827036 non-null  int64
 28  X18         1827036 non-null  int64
dtypes: float64(10), int64(13), object(6)
memory usage: 418.2+ MB

In [102]:
new_file[:10]

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
2420200000050231,3,R,50.000,1.000,4540,6,2007-04,4,黄石市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
2422800000117935,3,Z,1.000,1.000,2130,6,2014-01,3,恩施州,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3420800000070431,3,C,300.000,1.000,4540,6,2003-08,4,荆门市,2,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3421100000105274,3,H,8.000,1.000,4540,6,2013-11,3,黄冈市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3429004000003400,3,Z,1.000,1.000,4540,6,2010-09,4,仙桃市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3431300000047415,1,Z,3.000,1.000,2140,6,2012-09,3,随州市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3431300000051288,1,Z,2.000,0.000,2122,7,2007-09,4,随州市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000138,3,L,1000.000,1.000,1100,9,2003-11,4,黄石市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000144,3,L,1000.000,1.000,1100,9,1997-03,4,武汉市,3,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000243,3,E,150.000,1.000,1100,9,2002-04,4,武汉市,2,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0

# 去除重复值

## 重设索引

In [103]:
del file
gc.collect()

21

In [104]:
new_file = new_file.reset_index()
print(new_file.info(null_counts = True))
new_file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827036 entries, 0 to 1827035
Data columns (total 30 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   index       1827036 non-null  int64
 1   jjhklb      1827036 non-null  int64
 2   hydm        1827036 non-null  object
 3   zczb        1827036 non-null  float64
 4   jyzt        1827036 non-null  float64
 5   qylx        1827036 non-null  int64
 6   tslx        1827036 non-null  int64
 7   new         1827036 non-null  object
 8   time_scale  1827036 non-null  object
 9   city        1827036 non-null  object
 10  three       1827036 non-null  object
 11  scale       1827036 non-null  object
 12  foreign     1827036 non-null  int64
 13  X1_2        1827036 non-null  int64
 14  X3          1827036 non-null  int64
 15  X4          1827036 non-null  int64
 16  X5          1827036 non-null  float64
 17  X6          1827036 non-null  float64
 18  X7          1827036 non-null  float64
 19  X8          1827036 non-null  int64
 20  X9          1827036 non-null  int64
 21  X10         1827036 non-null  float64
 22  X11         1827036 non-null  float64
 23  X12         1827036 non-null  float64
 24  X13         1827036 non-null  float64
 25  X14         1827036 non-null  float64
 26  X15         1827036 non-null  int64
 27  X16         1827036 non-null  int64
 28  X17         1827036 non-null  int64
 29  X18         1827036 non-null  int64
dtypes: float64(10), int64(14), object(6)
memory usage: 418.2+ MB
None

,index,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
0,2420200000050231,3,R,50.000,1.000,4540,6,2007-04,4,黄石市,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
1,2422800000117935,3,Z,1.000,1.000,2130,6,2014-01,3,恩施州,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0

## 统计重复

In [105]:
new_file.rename(
    columns={'index': 'nbxh' }, 
    inplace=True)
re_nums = new_file['nbxh'].value_counts()
re_nums

420000000009275200    3
420000000008824832    3
420000000008710208    2
420000000009152960    2
24250000012758688     2
                     ..
142000010157566539    1
142000010157563223    1
142000010157562826    1
142000010157562622    1
442010000019652554    1
Name: nbxh, Length: 1827023, dtype: int64

## 删除重复

In [106]:
new_file.drop_duplicates(subset=['nbxh'], keep='first', inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 0 to 1827035
Data columns (total 30 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   nbxh        1827023 non-null  int64
 1   jjhklb      1827023 non-null  int64
 2   hydm        1827023 non-null  object
 3   zczb        1827023 non-null  float64
 4   jyzt        1827023 non-null  float64
 5   qylx        1827023 non-null  int64
 6   tslx        1827023 non-null  int64
 7   new         1827023 non-null  object
 8   time_scale  1827023 non-null  object
 9   city        1827023 non-null  object
 10  three       1827023 non-null  object
 11  scale       1827023 non-null  object
 12  foreign     1827023 non-null  int64
 13  X1_2        1827023 non-null  int64
 14  X3          1827023 non-null  int64
 15  X4          1827023 non-null  int64
 16  X5          1827023 non-null  float64
 17  X6          1827023 non-null  float64
 18  X7          1827023 non-null  float64
 19  X8          1827023 non-null  int64
 20  X9          1827023 non-null  int64
 21  X10         1827023 non-null  float64
 22  X11         1827023 non-null  float64
 23  X12         1827023 non-null  float64
 24  X13         1827023 non-null  float64
 25  X14         1827023 non-null  float64
 26  X15         1827023 non-null  int64
 27  X16         1827023 non-null  int64
 28  X17         1827023 non-null  int64
 29  X18         1827023 non-null  int64
dtypes: float64(10), int64(14), object(6)
memory usage: 432.1+ MB

# 保存

In [107]:
path = './DataCleaning_quarterTwo_1.csv'
new_file.to_csv(path, index=False)