<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#读取" data-toc-modified-id="读取-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>读取</a></span><ul class="toc-item"><li><span><a href="#读取主表" data-toc-modified-id="读取主表-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>读取主表</a></span></li><li><span><a href="#读取调节参数" data-toc-modified-id="读取调节参数-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>读取调节参数</a></span></li></ul></li><li><span><a href="#活跃度计算" data-toc-modified-id="活跃度计算-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>活跃度计算</a></span><ul class="toc-item"><li><span><a href="#添加临时列" data-toc-modified-id="添加临时列-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>添加临时列</a></span></li><li><span><a href="#计算整体活跃度" data-toc-modified-id="计算整体活跃度-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>计算整体活跃度</a></span></li><li><span><a href="#groupby" data-toc-modified-id="groupby-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>groupby</a></span></li><li><span><a href="#定义分类活跃度函数" data-toc-modified-id="定义分类活跃度函数-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>定义分类活跃度函数</a></span></li><li><span><a href="#按行业" data-toc-modified-id="按行业-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>按行业</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#按规模" data-toc-modified-id="按规模-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>按规模</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#按城市" data-toc-modified-id="按城市-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>按城市</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.7.1"><span class="toc-item-num">2.7.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#按三次产业" data-toc-modified-id="按三次产业-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>按三次产业</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.8.1"><span class="toc-item-num">2.8.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#按经济户口类别" data-toc-modified-id="按经济户口类别-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>按经济户口类别</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.9.1"><span class="toc-item-num">2.9.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#按企业存续时间" data-toc-modified-id="按企业存续时间-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>按企业存续时间</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.10.1"><span class="toc-item-num">2.10.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#按是否外商投资" data-toc-modified-id="按是否外商投资-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>按是否外商投资</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.11.1"><span class="toc-item-num">2.11.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li><li><span><a href="#三次产业的分行业占比" data-toc-modified-id="三次产业的分行业占比-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>三次产业的分行业占比</a></span><ul class="toc-item"><li><span><a href="#保存" data-toc-modified-id="保存-2.12.1"><span class="toc-item-num">2.12.1&nbsp;&nbsp;</span>保存</a></span></li></ul></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import warnings
from tqdm import tqdm
import datetime
import time
import os
warnings.filterwarnings("ignore")

In [2]:
def mkdir(path):
 
    # 去除首位空格
    path=path.strip()
    # 去除尾部 \ 符号
    path=path.rstrip("\\")
 
    # 判断路径是否存在
    # 存在     True
    # 不存在   False
    isExists=os.path.exists(path)
    
    # 判断结果
    if not isExists:
        # 如果不存在则创建目录
        # 创建目录操作函数
        os.makedirs(path) 
 
        print(path+' 创建成功')
        return True
    else:
        # 如果目录存在则不创建，并提示目录已存在
        print(path+' 目录已存在')
        return False

In [3]:
i = datetime.datetime.now()
time_str = str(i.year) + '_' + str(i.month) + '_' + str(i.day) + '_hour' + str(i.hour)+ '(half)'
# 定义要创建的文件夹
mkpath = '.\\' + time_str 
# 调用函数
mkdir(mkpath)

.\2022_6_30_hour10(half) 目录已存在

False

# 读取

## 读取主表

In [4]:
path_dc = './DataCleaning_quarterTwo_2.csv'
dc = pd.read_csv(path_dc, index_col=[0])
print(dc.info(null_counts = True))
dc[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 2420200000050231 to 442010000019652554
Data columns (total 29 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  int64
 8   city        1827023 non-null  object
 9   three       1827023 non-null  int64
 10  scale       1827023 non-null  int64
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X7          1827023 non-null  float64
 18  X8          1827023 non-null  int64
 19  X9          1827023 non-null  int64
 20  X10         1827023 non-null  float64
 21  X11         1827023 non-null  float64
 22  X12         1827023 non-null  float64
 23  X13         1827023 non-null  float64
 24  X14         1827023 non-null  float64
 25  X15         1827023 non-null  int64
 26  X16         1827023 non-null  int64
 27  X17         1827023 non-null  int64
 28  X18         1827023 non-null  float64
dtypes: float64(11), int64(15), object(3)
memory usage: 418.2+ MB
None

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
nbxh,,,,,,,,,,,,,,,,,,,,,
2420200000050231,3,R,50.0,1.0,4540,6,2007-04,4,黄石市,3,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.334727
2422800000117935,3,Z,1.0,1.0,2130,6,2014-01,3,恩施州,3,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.990135

## 读取调节参数

In [5]:
path_para_1 = './para_half_1.csv'
industry = pd.read_csv(path_para_1, index_col=[0])
industry

,I_1_2,I_3,I_4,I_5,I_6,I_7,I_8,I_9,I_10,I_11,I_12,I_13,I_14,I_15,I_16,I_17,I_18
A,1,1,1,1.978303,1.000000,1.450562,1,1,1,1.000000,2.097394,2.083647,1.510394,1,1,1,0.998879
B,1,1,1,1.289234,1.000000,1.000000,1,1,1,1.000000,1.247905,1.135235,2.667904,1,1,1,1.004093
C,1,1,1,1.058908,1.000000,0.663964,1,1,1,1.000000,0.920723,0.915734,3.750890,1,1,1,0.999527
D,1,1,1,0.944195,1.000000,0.507686,1,1,1,1.000000,1.124056,1.125592,0.389686,1,1,1,0.985332
E,1,1,1,0.935678,1.000000,0.978687,1,1,1,1.000000,0.863557,0.862135,0.727364,1,1,1,0.999382
F,1,1,1,1.250299,1.000000,0.975942,1,1,1,1.000000,1.388019,1.393393,0.920263,1,1,1,1.000938
G,1,1,1,0.849113,1.000000,1.014035,1,1,1,1.000000,1.028075,1.033862,0.795692,1,1,1,1.000799
H,1,1,1,1.174423,1.000000,0.844239,1,1,1,1.000000,1.257724,1.253172,0.570023,1,1,1,1.008774
I,1,1,1,0.833604,1.000000,1.051559,1,1,1,1.000000,0.816644,0.818977,1.033493,1,1,1,0.999004
J,1,1,1,0.584896,1.000000,0.611796,1,1,1,1.000000,1.875924,1.843071,0.238046,1,1,1,0.994502
K,1,1,1,0.907061,1.000000,0.525003,1,1,1,1.000000,0.919030,0.919356,1.415501,1,1,1,1.005918
L,1,1,1,0.872548,0.128603,0.962771,1,1,1,0.128603,0.834264,0.836717,1.156349,1,1,1,0.999809
M,1,1,1,0.705307,1.000000,1.893373,1,1,1,1.000000,0.639991,0.639660,1.221732,1,1,1,1.000529
N,1,1,1,0.886648,1.000000,1.000000,1,1,1,1.000000,0.873911,0.856901,1.144807,1,1,1,0.997649
O,1,1,1,1.270474,1.000000,1.610536,1,1,1,1.000000,1.227886,1.227852,1.298691,1,1,1,0.993040
P,1,1,1,0.892950,1.000000,3.010385,1,1,1,1.000000,0.935034,0.942992,1.276961,1,1,1,0.992163
Q,1,1,1,0.795029,1.000000,2.038749,1,1,1,1.000000,0.885958,0.861969,0.513479,1,1,1,1.003949
R,1,1,1,0.861443,1.000000,2.136305,1,1,1,1.000000,0.879120,0.882303,1.721760,1,1,1,0.997937
S,1,1,1,1.377391,1.000000,1.000000,1,1,1,1.000000,4.525884,4.671129,0.233845,1,1,1,1.012338
T,1,1,1,1.000000,1.000000,1.000000,1,1,1,1.000000,1.000000,1.000000,1.000000,1,1,1,1.200569
Z,1,1,1,1.813709,1.000000,0.951258,1,1,1,1.000000,1.543613,1.459483,10.733361,1,1,1,0.993239

In [6]:
path_para_2 = './para_half_2.csv'
scale = pd.read_csv(path_para_2, index_col=[0])
scale

,S_1_2,S_3,S_4,S_5,S_6,S_7,S_8,S_9,S_10,S_11,S_12,S_13,S_14,S_15,S_16,S_17,S_18
N1,1,1,1,1.396227,1.385332,1.512315,1,1,1.00000,1.00000,1.879091,1.887042,0.608735,1,1,1,0.999994
N2,1,1,1,0.757198,0.760318,1.006513,1,1,0.33094,0.33094,0.659953,0.660917,126.637482,1,1,1,1.000170
N3,1,1,1,0.503396,0.510089,0.256194,1,1,1.00000,1.00000,0.370237,0.366315,68.303087,1,1,1,0.999899
N4,1,1,1,0.387299,0.393095,0.146174,1,1,1.00000,1.00000,0.277971,0.273545,1.000000,1,1,1,1.002125
N5,1,1,1,0.335244,0.336635,0.095877,1,1,1.00000,1.00000,0.230168,0.224861,1.000000,1,1,1,0.981058

In [7]:
# 给定权重
weight = [0.4, 0.15, 0.15, 0.05, 0.05, 0.05, 0.02, 0.02, 0.025, 0.025, 0.01, 0.01, 0.04, -0.03, -0.01, -0.01, 0.05]
print(weight)

alphabet_all = [chr(i) for i in range(65, 85)]
alphabet_all.append(chr(90))
print(alphabet_all)

[0.4, 0.15, 0.15, 0.05, 0.05, 0.05, 0.02, 0.02, 0.025, 0.025, 0.01, 0.01, 0.04, -0.03, -0.01, -0.01, 0.05]
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'Z']

# 活跃度计算

接下来的操作是将`行业调节参数`&`规模调节参数`&`权重`按位相乘，得到一个 （行业类别 * 规模类别） * 特征数 大小的矩阵

In [8]:
industry_matrix = industry.values
scale_matrix = scale.values

print(industry_matrix.shape, '\t', scale_matrix.shape)

(21, 17) 	 (5, 17)

In [9]:
IS_matrix = industry_matrix * scale_matrix[0]
for i in tqdm(range(1, 5)):
    IS_matrix = np.concatenate((IS_matrix, (industry_matrix * scale_matrix[i])))
print(IS_matrix.shape)

100%|████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<?, ?it/s]

(105, 17)

In [10]:
ISW_matrix = IS_matrix * np.array(weight)
print(ISW_matrix.shape)

(105, 17)

In [11]:
ISW_matrix_df = pd.DataFrame(ISW_matrix)
ISW_matrix_df[:5]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.4,0.15,0.15,0.138108,0.069267,0.109685,0.02,0.02,0.025,0.025,0.039412,0.039319,0.036777,-0.03,-0.01,-0.01,0.049944
1,0.4,0.15,0.15,0.090003,0.069267,0.075616,0.02,0.02,0.025,0.025,0.023449,0.021422,0.064962,-0.03,-0.01,-0.01,0.050204
2,0.4,0.15,0.15,0.073924,0.069267,0.050206,0.02,0.02,0.025,0.025,0.017301,0.017280,0.091332,-0.03,-0.01,-0.01,0.049976
3,0.4,0.15,0.15,0.065916,0.069267,0.038389,0.02,0.02,0.025,0.025,0.021122,0.021240,0.009489,-0.03,-0.01,-0.01,0.049266
4,0.4,0.15,0.15,0.065321,0.069267,0.074004,0.02,0.02,0.025,0.025,0.016227,0.016269,0.017711,-0.03,-0.01,-0.01,0.049969

In [12]:
reindex = ['A_1', 'B_1', 'C_1', 'D_1', 'E_1', 'F_1', 'G_1', 'H_1', 'I_1', 'J_1', 'K_1', 'L_1', 'M_1', 'N_1', 'O_1', 'P_1', 'Q_1', 'R_1', 'S_1', 'T_1', 'Z_1', 'A_2', 'B_2', 'C_2', 'D_2', 'E_2', 'F_2', 'G_2', 'H_2', 'I_2', 'J_2', 'K_2', 'L_2', 'M_2', 'N_2', 'O_2', 'P_2', 'Q_2', 'R_2', 'S_2', 'T_2', 'Z_2', 'A_3', 'B_3', 'C_3', 'D_3', 'E_3', 'F_3', 'G_3', 'H_3', 'I_3', 'J_3', 'K_3', 'L_3', 'M_3', 'N_3', 'O_3', 'P_3', 'Q_3', 'R_3', 'S_3', 'T_3', 'Z_3', 'A_4', 'B_4', 'C_4', 'D_4', 'E_4', 'F_4', 'G_4', 'H_4', 'I_4', 'J_4', 'K_4', 'L_4', 'M_4', 'N_4', 'O_4', 'P_4', 'Q_4', 'R_4', 'S_4', 'T_4', 'Z_4', 'A_5', 'B_5', 'C_5', 'D_5', 'E_5', 'F_5', 'G_5', 'H_5', 'I_5', 'J_5', 'K_5', 'L_5', 'M_5', 'N_5', 'O_5', 'P_5', 'Q_5', 'R_5', 'S_5', 'T_5', 'Z_5']
print(len(reindex))

recolumns = ['a_1_2', 'a_3', 'a_4', 'a_5', 'a_6', 'a_7', 'a_8', 'a_9', 'a_10', 'a_11', 'a_12', 'a_13', 'a_14', 'a_15', 'a_16', 'a_17', 'a_18']
print(len(recolumns))

105
17

In [13]:
ISW_matrix_df.index = reindex
ISW_matrix_df.columns = recolumns

ISW_matrix_df[:5]

,a_1_2,a_3,a_4,a_5,a_6,a_7,a_8,a_9,a_10,a_11,a_12,a_13,a_14,a_15,a_16,a_17,a_18
A_1,0.4,0.15,0.15,0.138108,0.069267,0.109685,0.02,0.02,0.025,0.025,0.039412,0.039319,0.036777,-0.03,-0.01,-0.01,0.049944
B_1,0.4,0.15,0.15,0.090003,0.069267,0.075616,0.02,0.02,0.025,0.025,0.023449,0.021422,0.064962,-0.03,-0.01,-0.01,0.050204
C_1,0.4,0.15,0.15,0.073924,0.069267,0.050206,0.02,0.02,0.025,0.025,0.017301,0.017280,0.091332,-0.03,-0.01,-0.01,0.049976
D_1,0.4,0.15,0.15,0.065916,0.069267,0.038389,0.02,0.02,0.025,0.025,0.021122,0.021240,0.009489,-0.03,-0.01,-0.01,0.049266
E_1,0.4,0.15,0.15,0.065321,0.069267,0.074004,0.02,0.02,0.025,0.025,0.016227,0.016269,0.017711,-0.03,-0.01,-0.01,0.049969

In [14]:
k = 0
dc_2 = dc
dc_2['EA'] = None
for i in range(5):
    for j in alphabet_all:
        k = k+1
        start = time.perf_counter() 
        dc_T = dc[((dc['hydm'] == j) & (dc['scale'] == i+1))]
        # 选择需要的17个特征
        dc_T_feature = dc_T.loc[:, 'X1_2':'X18']
        col = j + '_' + str(i+1)
        # 显示进度
        print(k, '/105:  ',  end='')
        EA_T = dc_T_feature.values * ISW_matrix_df.loc[col].values
        EA_T = EA_T.sum(axis=1) * dc_T['jyzt'].values
        dc_T_feature['EA'] = EA_T
        dc_T_feature = dc_T_feature['EA']
        dc_T_feature = pd.DataFrame({'nbxh':dc_T_feature.index, 'EA_fill':dc_T_feature.values})
        dc_T_feature.set_index('nbxh', inplace=True)
        # 使用join和fillna方法
        dc_2 = dc_2.join(dc_T_feature)
        dc_2["EA"].fillna(dc_2["EA_fill"], inplace=True)
        dc_2.drop(['EA_fill'], axis=1, inplace=True)
        end = time.perf_counter()
        print('Running time: %.4f Seconds' % (end - start))

1 /105:  Running time: 1.0136 Seconds
2 /105:  Running time: 0.6890 Seconds
3 /105:  Running time: 0.6089 Seconds
4 /105:  Running time: 0.6784 Seconds
5 /105:  Running time: 0.7065 Seconds
6 /105:  Running time: 0.7574 Seconds
7 /105:  Running time: 0.6247 Seconds
8 /105:  Running time: 0.6657 Seconds
9 /105:  Running time: 0.7085 Seconds
10 /105:  Running time: 0.6647 Seconds
11 /105:  Running time: 0.8112 Seconds
12 /105:  Running time: 0.8506 Seconds
13 /105:  Running time: 0.7905 Seconds
14 /105:  Running time: 0.6465 Seconds
15 /105:  Running time: 0.7294 Seconds
16 /105:  Running time: 0.6717 Seconds
17 /105:  Running time: 0.6196 Seconds
18 /105:  Running time: 0.7277 Seconds
19 /105:  Running time: 0.6280 Seconds
20 /105:  Running time: 0.5888 Seconds
21 /105:  Running time: 0.7047 Seconds
22 /105:  Running time: 0.6392 Seconds
23 /105:  Running time: 0.5788 Seconds
24 /105:  Running time: 0.7321 Seconds
25 /105:  Running time: 0.6235 Seconds
26 /105:  Running time: 0.6695 Seconds
27 /105:  Running time: 0.8065 Seconds
28 /105:  Running time: 0.6723 Seconds
29 /105:  Running time: 0.6192 Seconds
30 /105:  Running time: 0.7106 Seconds
31 /105:  Running time: 0.6081 Seconds
32 /105:  Running time: 0.6291 Seconds
33 /105:  Running time: 0.7192 Seconds
34 /105:  Running time: 0.6593 Seconds
35 /105:  Running time: 0.5949 Seconds
36 /105:  Running time: 0.7186 Seconds
37 /105:  Running time: 0.6276 Seconds
38 /105:  Running time: 0.5728 Seconds
39 /105:  Running time: 0.6977 Seconds
40 /105:  Running time: 0.5820 Seconds
41 /105:  Running time: 0.6236 Seconds
42 /105:  Running time: 0.6835 Seconds
43 /105:  Running time: 0.6538 Seconds
44 /105:  Running time: 0.6809 Seconds
45 /105:  Running time: 0.6429 Seconds
46 /105:  Running time: 0.5646 Seconds
47 /105:  Running time: 0.6752 Seconds
48 /105:  Running time: 0.5871 Seconds
49 /105:  Running time: 0.6196 Seconds
50 /105:  Running time: 0.6439 Seconds
51 /105:  Running time: 0.5451 Seconds
52 /105:  Running time: 0.6516 Seconds
53 /105:  Running time: 0.5901 Seconds
54 /105:  Running time: 0.6008 Seconds
55 /105:  Running time: 0.6652 Seconds
56 /105:  Running time: 0.5460 Seconds
57 /105:  Running time: 0.6199 Seconds
58 /105:  Running time: 0.5852 Seconds
59 /105:  Running time: 0.5835 Seconds
60 /105:  Running time: 0.6520 Seconds
61 /105:  Running time: 0.5409 Seconds
62 /105:  Running time: 0.6279 Seconds
63 /105:  Running time: 0.5831 Seconds
64 /105:  Running time: 0.5917 Seconds
65 /105:  Running time: 0.6512 Seconds
66 /105:  Running time: 0.5468 Seconds
67 /105:  Running time: 0.6546 Seconds
68 /105:  Running time: 0.5932 Seconds
69 /105:  Running time: 0.5757 Seconds
70 /105:  Running time: 0.6522 Seconds
71 /105:  Running time: 0.5538 Seconds
72 /105:  Running time: 0.6045 Seconds
73 /105:  Running time: 0.5862 Seconds
74 /105:  Running time: 0.5845 Seconds
75 /105:  Running time: 0.6471 Seconds
76 /105:  Running time: 0.5459 Seconds
77 /105:  Running time: 0.6212 Seconds
78 /105:  Running time: 0.5824 Seconds
79 /105:  Running time: 0.6081 Seconds
80 /105:  Running time: 0.6322 Seconds
81 /105:  Running time: 0.5433 Seconds
82 /105:  Running time: 0.6769 Seconds
83 /105:  Running time: 0.5987 Seconds
84 /105:  Running time: 0.5585 Seconds
85 /105:  Running time: 0.6512 Seconds
86 /105:  Running time: 0.5366 Seconds
87 /105:  Running time: 0.6188 Seconds
88 /105:  Running time: 0.5798 Seconds
89 /105:  Running time: 0.6264 Seconds
90 /105:  Running time: 0.7217 Seconds
91 /105:  Running time: 0.5572 Seconds
92 /105:  Running time: 0.5644 Seconds
93 /105:  Running time: 0.6158 Seconds
94 /105:  Running time: 0.6128 Seconds
95 /105:  Running time: 0.6346 Seconds
96 /105:  Running time: 0.5570 Seconds
97 /105:  Running time: 0.6268 Seconds
98 /105:  Running time: 0.6225 Seconds
99 /105:  Running time: 0.5484 Seconds
100 /105:  Running time: 0.6580 Seconds
101 /105:  Running time: 0.5628 Seconds
102 /105:  Running time: 0.6196 Seconds
103 /105:  Running time: 0.6220 Seconds
104 /105:  Running time: 0.5470 Seconds
105 /105:  Running time: 0.6570 Seconds

In [15]:
temp_EA75 = dc_2['EA'].describe()['25%']
temp_EA75

0.577924855022144

In [16]:
dc = dc_2

## 添加临时列

In [17]:
dc['EA_temp'] = None
dc.loc[dc['EA'] >= temp_EA75, 'EA_temp'] = 1
dc.loc[dc['EA'] < temp_EA75, 'EA_temp'] = 0
dc.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827023 entries, 2420200000050231 to 442010000019652554
Data columns (total 31 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1827023 non-null  int64
 1   hydm        1827023 non-null  object
 2   zczb        1827023 non-null  float64
 3   jyzt        1827023 non-null  float64
 4   qylx        1827023 non-null  int64
 5   tslx        1827023 non-null  int64
 6   new         1827023 non-null  object
 7   time_scale  1827023 non-null  int64
 8   city        1827023 non-null  object
 9   three       1827023 non-null  int64
 10  scale       1827023 non-null  int64
 11  foreign     1827023 non-null  int64
 12  X1_2        1827023 non-null  int64
 13  X3          1827023 non-null  int64
 14  X4          1827023 non-null  int64
 15  X5          1827023 non-null  float64
 16  X6          1827023 non-null  float64
 17  X7          1827023 non-null  float64
 18  X8          1827023 non-null  int64
 19  X9          1827023 non-null  int64
 20  X10         1827023 non-null  float64
 21  X11         1827023 non-null  float64
 22  X12         1827023 non-null  float64
 23  X13         1827023 non-null  float64
 24  X14         1827023 non-null  float64
 25  X15         1827023 non-null  int64
 26  X16         1827023 non-null  int64
 27  X17         1827023 non-null  int64
 28  X18         1827023 non-null  float64
 29  EA          1827023 non-null  float64
 30  EA_temp     1827023 non-null  object
dtypes: float64(12), int64(15), object(4)
memory usage: 510.6+ MB

In [18]:
dc[:5]

,jjhklb,hydm,zczb,jyzt,qylx,tslx,new,time_scale,city,three,...,X11,X12,X13,X14,X15,X16,X17,X18,EA,EA_temp
nbxh,,,,,,,,,,,,,,,,,,,,,
2420200000050231,3,R,50.0,1.0,4540,6,2007-04,4,黄石市,3,...,0.0,0.0,0.0,0.0,0,0,0,0.334727,0.566702,0
2422800000117935,3,Z,1.0,1.0,2130,6,2014-01,3,恩施州,3,...,0.0,0.0,0.0,0.0,0,0,0,0.990135,0.749172,1
3420800000070431,3,C,300.0,1.0,4540,6,2003-08,4,荆门市,2,...,0.0,0.0,0.0,0.0,0,0,0,0.000000,0.550000,0
3421100000105274,3,H,8.0,1.0,4540,6,2013-11,3,黄冈市,3,...,0.0,0.0,0.0,0.0,0,0,0,0.557879,0.578139,1
3429004000003400,3,Z,1.0,1.0,4540,6,2010-09,4,仙桃市,3,...,0.0,0.0,0.0,0.0,0,0,0,0.781030,0.588787,1

## 计算整体活跃度

In [19]:
EA_all = dc['EA_temp'].value_counts()[1] / (dc['EA_temp'].value_counts()[1] + dc['EA_temp'].value_counts()[0])
EA_all

0.7517672191318884

In [20]:
with open('.\\'+ time_str + '\整体活跃度.txt', 'w') as f:
    f.write(str(EA_all))

## groupby

In [21]:
industry_grouped = dc.groupby('hydm')['EA_temp']
scale_grouped = dc.groupby('scale')['EA_temp']
city_grouped = dc.groupby('city')['EA_temp']
three_grouped = dc.groupby('three')['EA_temp']
economic_grouped = dc.groupby('jjhklb')['EA_temp']
time_grouped = dc.groupby('time_scale')['EA_temp']
foreign_grouped = dc.groupby('foreign')['EA_temp']

## 定义分类活跃度函数

In [22]:
def class_EA(grouped):
    name_value = grouped.value_counts()
    name_all = [] # 0,1两类，会有重复的name
    for i in list(name_value.index):
        name_all.append(i[0])
    name_clean = []
    # 列表推导式，去除列表重复值
    [name_clean.append(i) for i in name_all if not i in name_clean]
    df_name =  pd.DataFrame(index=name_clean, columns=['proportion', 'sum'])
    
    for n in name_clean:
        temp_sum = 0
        for j in list(name_value[n]):
            # 每个类别的value一般都有1， 0两类
            temp_sum = temp_sum + j
        temp_num = name_value[n, 1] / temp_sum
        df_name.loc[n, 'proportion'] = temp_num
        df_name.loc[n, 'sum'] = temp_sum
    return df_name

## 按行业

In [23]:
df_industry = class_EA(industry_grouped)
df_industry

  proportion     sum
A   0.619738   83587
B     0.8717    4053
C   0.786243  142456
D   0.893487   10656
E   0.743162  249286
F   0.713025  551560
G   0.785115   51460
H   0.802302   32671
I   0.770098   90482
J   0.980592   17776
K   0.847937   56253
L   0.774333  234961
M   0.804042  171634
N   0.785179   12671
O   0.696647   46886
P   0.761086   10531
Q    0.80272    7132
R   0.755127   41103
S   0.906404     203
T   0.866667      15
Z   0.785524   11647

### 保存

In [24]:
df_industry.to_excel('./' + time_str + '/行业活跃度.xlsx')

## 按规模

In [25]:
df_scale = class_EA(scale_grouped)
df_scale

  proportion      sum
1   0.712351  1108341
2   0.794542   604635
3   0.901642   103764
4   0.970487     5252
5   0.974955     5031

### 保存

In [26]:
df_scale.to_excel('./' + time_str + '/规模活跃度.xlsx')

## 按城市

In [27]:
df_city = class_EA(city_grouped)
df_city

      proportion     sum
仙桃市     0.673065   32820
十堰市     0.771512   73912
咸宁市     0.699785   76302
天门市     0.698914   25129
孝感市     0.749515   74799
宜昌市     0.728143  117470
恩施州     0.745547   79610
武汉市     0.790118  766388
潜江市     0.659839   18065
神农架林区   0.764666    2932
荆州市     0.704687   95116
荆门市     0.702336   63518
襄阳市     0.692057  140367
鄂州市     0.762757   34159
随州市     0.723616   41124
黄冈市     0.754954  109265
黄石市     0.732323   76047

### 保存

In [28]:
df_city.to_excel('./' + time_str + '/地区活跃度.xlsx')

## 按三次产业

In [29]:
df_three = class_EA(three_grouped)
df_three

  proportion      sum
1   0.619738    83587
2   0.763484   406451
3   0.756459  1336985

### 保存

In [30]:
df_three.to_excel('./' + time_str + '/三次产业活跃度.xlsx')

## 按经济户口类别

In [31]:
df_economic = class_EA(economic_grouped)
df_economic

  proportion      sum
1   0.982819   131657
2   0.977805    13652
3   0.731844  1681714

### 保存

In [32]:
df_economic.to_excel('./' + time_str + '/经济户口活跃度.xlsx')

## 按企业存续时间

In [33]:
df_time = class_EA(time_grouped)
df_time

  proportion     sum
1   0.694415  501840
2   0.731262  711378
3   0.769333  371730
4   0.903947  242075

### 保存

In [34]:
df_time.to_excel('./' + time_str + '/企业存续时间活跃度.xlsx')

## 按是否外商投资

In [35]:
df_foreign = class_EA(foreign_grouped)
df_foreign

  proportion      sum
0   0.751269  1822960
1   0.975388     4063

### 保存

In [36]:
df_foreign.to_excel('./' + time_str + '/是否外商投资活跃度.xlsx')

## 三次产业的分行业占比

In [37]:
first = dc[dc['three'] == 1]['hydm'].value_counts()
second = dc[dc['three'] == 2]['hydm'].value_counts()
third = dc[dc['three'] == 3]['hydm'].value_counts()

In [38]:
def industry_num(value):
    df_name = pd.DataFrame(index=value.index, columns=['num', 'proportion'])
    df_name['num'] = value
    df_name['proportion'] = value / value.sum()
    return df_name

In [39]:
df_first =  industry_num(first)
df_second = industry_num(second)
df_third = industry_num(third)

### 保存

In [40]:
df_first.to_excel('./' + time_str + '/分行业：一产行业数量及占比.xlsx')
df_second.to_excel('./' + time_str + '/分行业：二产行业数量及占比.xlsx')
df_third.to_excel('./' + time_str + '/分行业：三产行业数量及占比.xlsx')